
<div class="footer">
    <div class="container" ng-class="{noborder : $state.current.name === 'app.main'}">
   
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 about">
                    <h1>About rakam</h1>
                    <p>Create your custom analytics services without development need. No coding required.</p>
                    <p>625 Market St, San Francisco <br>94105 CA, United States</p>

                </div>

                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <h1>New to rakam?</h1>
                    <ul>
                        <li>
                            <a href="product/ui#event-explorer">Event Explorer</a>
                            <a href="product/ui#behavioral">Behavioral Queries</a>
                            <a href="product/ui#sql-editor">SQL Editor</a>
                            <a href="product/ui">User Explorer</a>
                            <a href="product/ui#dashboard">Dashboard</a>
                        </li>
                    </ul>
                </div>



                <div class="col-xs-6  col-sm-6 col-md-3 col-lg-3">
                    <h1>Learn More</h1>
                    <ul>
                        <li>
                            <a href="https://blog.rakam.io/whats-rakam-8492c38ee16">What's Rakam?</a>
                            <a href="https://blog.rakam.io/comparison-rakam-vs-mixpanel-2c62475a9111">Rakam vs Mixpanel</a>
                            <a href="https://blog.rakam.io/comparison-rakam-vs-tableau-and-bi-solutions-dcc25a6c85">Rakam vs Tableau and BI solutions</a>
                            <a href="https://blog.rakam.io/comparison-rakam-vs-google-analytics-540e4ee8dcfe">Rakam vs Google Analytics</a>
                            <a href="https://blog.rakam.io/in-5-min-combine-all-advertising-reports-7f8d8863dbc7">In 5 Min Combine all Advertising Reports</a>

                        </li>
                    </ul>
                </div>

            
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <h1>rakam</h1>
                    <ul>
                        <li>
                        	<a href="/pricing">Pricing</a>
                            <a href="http://help.rakam.io/">Help Center</a>
                            <a href="/careers">Careers</a>
                            <a href="/privacy">Privacy</a>
                        	<a href="/terms">Terms</a>

                        </li>
                    </ul>
                </div>
            </div>

             
            <ul class="socials row">
                <li>
                    <a href="https://facebook.com/rakam.io/"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/iorakam"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://github.com/rakam-io/rakam"><i class="fa fa-github"></i></a>
                </li>
                <li>
                    <a href="https://blog.rakam.io/"><i class="fa fa-medium"></i></a>
                </li>
            </ul>   

        </div>

  

</div>