
<div class="footer">
    <div class="container">
   
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 about">
                    <h1>About rakam</h1>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                    <h1>New to rakam?</h1>
                    <ul>
                        <li>
                            <a href="#">Event Explorer</a>
                            <a href="#">Behavioral Queries</a>
                            <a href="#">SQL Editor</a>
                            <a href="#">User Explorer</a>
                            <a href="#">Dashboard</a>
                        </li>
                    </ul>
                </div>



                <div class="col-xs-4  col-sm-4 col-md-3 col-lg-3">
                    <h1>Learn More</h1>
                    <ul>
                        <li>
                            <a href="#">Plans & Pricing</a>
                            <a href="#">Blog</a>
                            <a href="#">Solutions</a>
                            <a href="#">Web Analytics Guide</a>
                            <a href="#">Documentation</a>
                        </li>
                    </ul>
                </div>

            
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                    <h1>rakam</h1>
                    <ul>
                        <li>
                            <a href="#">Customers</a>
                            <a href="#">Careers</a>
                            <a href="#">Contact Us</a>
                        
                        </li>
                    </ul>
                </div>
            </div>

             
            <ul class="socials row">
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-github"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-medium"></i></a>
                </li>
            </ul>   

        </div>

  

</div>