 <div class="form-area" style="border:1px solid #ddd;border-radius: 3px;">
    <h3 class="form-success">We received your message and get back soon, thanks!</h3>
    <h3 class="form-error text-danger">An error occurred</h3>
    <img class="email-icon" src="images/email.png"/>
    <div class="contact-form" ng-controller="formController">
    <form name="contactForm" ng-submit="submitForm()" novalidate>
        <i class="fa fa-circle-o-notch fa-spin pt-10 pb-10" ng-show="isLoading"></i>
        <div class="inputs">
            <div class="form-group" >
                <div class="icon-addon addon-md">
                    <input type="text" placeholder="Name Surname" class="form-control" id="name" ng-model="form.name" required>
                    <label for="name" class="fa fa-user-o" rel="tooltip" title="name" ></label>
                </div>
            </div>
            <div class="form-group">
                <div class="icon-addon addon-md">
                    <input type="email" placeholder="Email Address" class="form-control" id="email" ng-model="form.email" required>
                    <label for="email" class="fa fa-envelope-o" rel="tooltip" title="email"></label>
                </div>
            </div>

            <!--<div class="form-group">-->
                <!--<div class="icon-addon addon-md">-->
                    <!--<input type="text" placeholder="Phone Number" class="form-control" id="phone" ng-model="form.phone">-->
                    <!--<label for="phone" class="fa fa-phone" rel="tooltip" title="phone"></label>-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <textarea placeholder="Anything else?" ng-model="form.message"></textarea>
            </div>
        </div>
        <div class="form-group" ng-hide="complete">
            <button type="submit" class="demo-btn">Get in touch!</button>
        </div>
    </form>
    </div>
</div>

 