<div class="header row">
 
    
    <header class="cd-morph-dropdown" ng-controller="menuController">

        <a href="/" class="logo-mobile hidden-md hidden-lg"><img width="120" src="images/logo.png"/></a>
		<a href="#0" class="nav-trigger">Open Nav
            <span aria-hidden="true"></span></a>
		
		<nav class="main-nav">
			<ul>
				<li class="has-dropdown" data-content="products">
					<a href="#0">Products</a>
				</li>
                <li>
					<a href="/pricing">Pricing</a>
				</li>


				<li class="has-dropdown" data-content="developers">
					<a href="#0">Developers</a>
				</li>

				<li class="has-dropdown" data-content="company">
					<a href="#0">Company</a>
				</li>
                <li class="has-dropdown" data-content="resources">
					<a href="#0">Resources</a>
				</li>
			</ul>
		</nav>
		
		<div class="morph-dropdown-wrapper">
			<div class="dropdown-list">
				<ul>
					<li id="products" class="dropdown products menuSpecial">
						<a href="#0" class="label"></a>
						
						<div class="content">	
							 <div class="top-section clearfix">
                            <ul class="clearfix col-md-6">
                                <li><a href="/product/api">
                                    <h4>Rakam API</h4>
                                    <p>Event Explorer, Funnel, Retention for analyzing event data-sets.</p></a>
                                </li>
                                <li ><a href="/product/ui">
                                    <h4>Rakam UI/BI</h4>
                                    <p> Create your custom analytics service with SQL using Rakam UI</p></a>
                                </li>
                            </ul>
                            <ul class="clearfix col-md-6">
                                <li><a href="/product/dashboard">
                                    <h4>Rakam Dashboard</h4>
                                    <p> Connect your database and create dashboards for your
                                        analytics frontend</p></a></li>
                                <li><a href="/product/prebuilt">
                                    <h4>Rakam Pre-Built Analytics</h4>
                                    <p> Ads, Gaming, Web, Mobile, IoT and many more analytics solutions</p></a>
                                </li>                              
                            </ul>

                        </div>
                        <!--<div class="bottom-section">
                            <ul class="pull-right">
                                <li><a href="/pricing">Pricing</a></li>
                   
                

                            </ul>
                        </div>-->
						</div>
					</li>

					<li id="developers" class="dropdown developers menuSpecial">
	
						<div class="content">
							<div class="top-section clearfix">
                            <ul class="clearfix col-md-6">
                                <li><a href="/documents">
                                    <h4>Documentation</h4>
                                    <p>Event Explorer, Funnel, Retention for analyzing event data-sets.</p></a>
                                </li>
                                <li><a href="/documents">
                                    <h4>API documentation</h4>
                                    <p>Event Explorer, Funnel, Retention for analyzing event data-sets.</p></a>
                                </li>
                            </ul>
                                 <ul class="clearfix col-md-6">
                                <li><a href="/config">
                                    <h4>Config Reference</h4>
                                    <p>Interested in joining us?</p></a></li>                             
                                </ul>            
                        </div>
                        <div class="bottom-section">
                            <ul class="pull-right">
                                    <li><a href="https://github.com/rakam-io/rakam"><i class="fa fa-github"></i> Github</a></li>
                            </ul>
                        </div>
						</div>
					</li>

					<li id="company" class="dropdown company menuSpecial">
	
						
						<div class="content">	
							<div class="top-section clearfix">
                            <ul class="clearfix col-md-6">
                                <li><a href="/about">
                                    <h4>About Rakam</h4>
                                    <p>What's Rakam and who we are?</p></a>
                                </li>
                                <li ><a href="/customers">
                                    <h4>Customers</h4>
                                    <p>We're working graet companies all around the world.</p></a>
                                </li>
                            </ul>
                            <ul class="clearfix col-md-6">
                                <li><a href="/careers">
                                    <h4>Careers</h4>
                                    <p>Interested in joining us?</p></a></li>
                                <li><a href="http://blog.rakam.io">
                                    <h4>Blog</h4>
                                    <p>Some tips and product updates.</p></a>
                                </li>                              
                            </ul>


                            </div>
                            <div class="bottom-section">
                            <ul class="pull-right">
                                <li><a href="/terms">Terms</a></li>
                                <li><a href="/privacy">Privacy</a></li>

                            </ul>
                        </div>
						</div>
					</li>
                    	<li id="resources" class="dropdown resources menuSpecial">
						
						<div class="content">	
						<div class="top-section clearfix">
                            <ul class="clearfix col-md-6">
                                <li><a href="/contact">
                                    <h4>Support & Contact</h4>
                                    <p>Let us know if you have any questions.</p></a>
                                </li>
                                <li><a href="https://github.com/rakam-io/rakam">
                                    <h4>Github</h4>
                                    <p>Deploy Rakam right away.</p></a>
                                </li>
                                </ul>
                                 <ul class="clearfix col-md-6">

                                 <li><a href="/integration">
                                    <h4>Integration</h4>
                                    <p>How to integrate Rakam?</p></a>
                                </li>
                                <li><a href="/#productsarea">
                                    <h4>Solutions</h4>
                                    <p>Learn more around our Solutions</p></a>
                                </li>
                            </ul>
                        </div>
                        <div class="bottom-section">
                            <ul class="pull-right">
                                <li><a href="">Guideline</a></li>

                            </ul>
                        </div>
						</div>
					</li>
				</ul>

				<div class="bg-layer" aria-hidden="true"></div>
			</div> <!-- dropdown-list -->
		</div> <!-- morph-dropdown-wrapper -->

    

        
	</header>

        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3 hidden-xs hidden-sm">
            <a href="/" class="logo"><img width="120" src="images/logo.png"/></a>
        </div>
        <div class=" col-md-7 col-lg-6 hidden-xs hidden-sm"></div>
        <div class=" col-md-3 col-lg-3 hidden-xs hidden-sm">
             <a href="https://app.rakam.io/login" class="login"><button class="btn-md s-button-o">Login</button></a>
             <a href="https://app.rakam.io/register" class="login"><button class="btn-md s-button-o">Register</button></a>
        </div>
      

</div>