<div class="header row">
    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3">
        <a href="#" class="logo"><img width="120" src="images/logo.png"/></a>
    </div>
    <div class=" col-md-7 col-lg-6 hidden-xs hidden-sm">
        <ul class="menu">
            <li drop-menu>
                <a href="#">Products</a>
                <div class="drop-content">
                    <div class="arrow-up"></div>
                    <div class="menu-content">
                        <div class="top-section clearfix">
                            <ul class="clearfix col-md-6">
                                <li><a href="">
                                    <h3>Event Analytics</h3>
                                    <p>Event Explorer, Funnel, Retention for analyzing event data-sets.</p></a>
                                </li>
                                <li ><a href="">
                                    <h3>Custom Analytics</h3>
                                    <p> Create your custom analytics service with SQL using Rakam UI</p></a>
                                </li>
                            </ul>
                            <ul class="clearfix col-md-6">
                                <li><a href="">
                                    <h3>Analytics Front-end</h3>
                                    <p> Connect your database and create dashboards for your
                                        analytics frontend</p></a></li>
                                <li><a href="">
                                    <h3>Pre-defined analytics</h3>
                                    <p> Ads, Gaming, Web, Mobile, IoT and <br>many more analytics solutions</p></a>
                                </li>                              
                            </ul>

                        </div>
                        <div class="bottom-section">
                            <ul class="pull-right">
                                <li><a href="">Pricing</a></li>
                            </ul>
                        </div>
                    </div>                   
                </div>
                
            </li>
            <li drop-menu>
                <a href="#">Developers</a>
                  <div class="drop-content">
                    <div class="arrow-up"></div>
                    <div class="menu-content">
                        <div class="top-section clearfix">
                            <div class="col-md-6">
                                <h3>Rakam API</h3>
                                <ul  class="clearfix">
                                    <li><a href="">Documentation</a></li>
                                    <li><a href="">API documentation</a></li>
                                    <li><a href="">Config Reference</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h3>Rakam UI</h3>
                                <ul class="clearfix">
                                    <li><a href="">Documentation</a></li>
                                    <li><a href="">Reporting</a></li>
                                    <li><a href="">Dashboards</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="bottom-section">
                            <ul class="pull-right">
                                <li><a href=""><i class="fa fa-github"></i> Github</a></li>
                                <li><a href="">App</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li drop-menu>
                <a href="#">Company</a>
                  <div class="drop-content">
                    <div class="arrow-up"></div>
                    <div class="menu-content">
                       <div class="top-section clearfix">
                            <ul class="clearfix">
                                <li><a href="">About Rakam</a></li>
                                <li><a href="">Customers</a></li>
                                <li><a href="">Careers</a></li>
                                <li><a href="">Blog</a></li>
                            </ul>
                        </div>
                        <div class="bottom-section">
                            <ul class="clearfix">
                                <li><a href="">About Rakam</a></li>
                                <li><a href="">Customers</a></li>
                                <li><a href="">Careers</a></li>
                                <li><a href="">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class=" col-md-3 col-lg-3 hidden-xs hidden-sm">
        <a href="#" class="login"><button class="btn-md s-button-o">Login</button></a>
    </div>

    <div class="col-xs-6 col-sm-6 hidden-lg hidden-md">
        <div class="MobileMenu"  ng-class="{'active': active,'inactive':!active}" ng-click="active = !active">
            <span class="MobileMenu-top"></span>
            <span class="MobileMenu-middle"></span>
                <span class="MobileMenu-bottom"></span>
        </div>
    </div>
    <div class="Drawer" ng-class="{'open': active}">
        <ul class="mobile-menu">
            <li><a href="#">Products</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>