<div class="header row">

    <header class="cd-morph-dropdown" ng-controller="menuController">

        <a href="/" class="logo-mobile hidden-md hidden-lg"><img width="144" src="images/new-logo.svg"/></a>
        <a href="#0" class="nav-trigger">Open Nav<span aria-hidden="true"></span></a>
        
        <nav class="main-nav" style="margin-top: 7px;">
            <ul>
                <li class="has-dropdown" data-content="products">
                    <a href="#0">Products</a>
                </li>

                <li class="has-dropdown" data-content="developers">
                    <a href="#0">Developers</a>
                </li>

                <li class="has-dropdown" data-content="company">
                    <a href="#0">Company</a>
                </li>
                <li>
                    <a href="#">Usefull</a>
                </li>
            </ul>
        </nav>
        
        <div class="morph-dropdown-wrapper">
            <div class="dropdown-list">
                <ul>
                    <li id="products" class="dropdown products menuSpecial">
                        <a href="#0" class="label">Products</a>
                        
                        <div class="content">   
                            <div class="top-section clearfix">
                            <ul class="clearfix col-md-6">
                                <li><a href="/product/api">
                                    <h4 class="color-soir-wh">Rakam API</h4>
                                    <p>Event Explorer, Funnel, Retention for analyzing event data-sets.</p></a>
                                </li>

                            </ul>
                            <ul class="clearfix col-md-6">
                                <li ><a href="/product/ui">
                                    <h4 class="color-sand-wh hover-black">Rakam UI</h4>
                                    <p> Create your custom analytics service with SQL using Rakam UI</p></a>
                                </li>

                            </ul>
                            <ul class="clearfix col-md-12">
                                <li><a href="/product/prebuilt">
                                    <h4 class="hover-black">Rakam Pre-Built Analytics</h4>
                                    <p> Ads, Gaming, Web, Mobile, IoT and many more analytics solutions</p></a>
                                </li>

                            </ul>

                        </div>
                        </div>
                    </li>

                    <li id="developers" class="dropdown developers menuSpecial">
                        <a href="#0" class="label">Developers</a>
                        <div class="content">
                            <div class="top-section clearfix">
                            <ul class="clearfix col-md-6">
                                <li><a href="/docs">
                                    <h4>Documentation</h4>
                                    <p>Learn how to setup, use and customize Rakam.</p></a>
                                </a>

                                </li>
                                <li><a href="http://api.rakam.io">
                                    <h4>API documentation</h4>
                                    <p>The GUI for developers, learn <br>how to use the RESTFul API.</p>
                                </a>
                                </li>
                            </ul>
                                 <ul class="clearfix col-md-6">
                                     <li><a href="/integrate">
                                         <h4>Integration</h4>
                                         <p>How to integrate Rakam with your app and third-party services.</p></a>
                                     </li>
                                <li><a href="https://github.com/rakam-io/rakam">
                                    <h4><i class="fa fa-github"></i> View in Github</h4>
                                    <p>Want to dig into the code, you're good to go!</p>
                                    </a></li>
                                    <li><a href="/deploy">
                                         <h4>Deploy</h4>
                                         <p>Learn how to deploy Rakam easily.</p></a>
                                     </li>
                                </ul>
                        </div>
                        </div>
                    </li>

                    <li id="company" class="dropdown company menuSpecial">
    
                        <a href="#0" class="label">Company</a>
                        <div class="content">   
                            <div class="top-section clearfix">
                            <ul class="clearfix col-md-6">
                                <li><a href="/about">
                                    <h4>About Rakam</h4>
                                    <p>What's Rakam and <br>who we are?</p></a>
                                </li>
                            </ul>
                            <ul class="clearfix col-md-6">
                                <li><a href="http://blog.rakam.io">
                                    <h4>Blog</h4>
                                    <p>Some tips, tutorials and product updates for you</p></a>
                                </li>
                                <li><a href="https://angel.co/rakamio/jobs">
                                    <h4>Careers</h4>
                                    <p>Interested in joining us?<br><br></bt></p></a></li>
                            </ul>


                            </div>
                        </div>
                    </li>
                     <li class="menuSpecial">
                        <a href="#" class="label">Usefull</a>
                    </li>
                </ul>

                <div class="bg-layer" aria-hidden="true"></div>
            </div> <!-- dropdown-list -->
        </div> <!-- morph-dropdown-wrapper -->

    </header>


        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3 hidden-xs hidden-sm">
            <a href="/" class="logo"><img width="144" src="images/new-logo.svg"/></a>
        </div>
        <div class=" col-md-7 col-lg-6 hidden-xs hidden-sm"></div>
        <div class=" col-md-3 col-lg-3 hidden-xs hidden-sm sign" style="margin-top: 8px;">
             <a href="https://app.rakam.io" class="login"><button class="btn-md s-button-o">Sign Up</button></a>
             <a href="https://app.rakam.io/register" class="login"><button class="btn-md s-button-o">Sign In</button></a>
        </div>
      

</div>