<div class="trusted-area ">
    <div class="container">
        <div class="row pt-20 pb-20">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 p0">
                 <p class="title">Trusted by</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 p0">

                <ul>  
                      <li>
                        <a href="#">
                        <img  src="images/ola.png" width="150" height="50"/>
                        </a>
                    </li>        
                     <li>
                        <a href="#">
                        <img  src="images/yp.png" width="150" height="50"/>
                        </a>
                    </li>  
                    <li>
                        <a href="#">
                            <img  src="images/trusted_twentify.png" width="150" height="50"/>
                        </a>
                    </li>
                   <li>
                        <a href="#">
                        <img  src="images/genart.png"/>
                        </a>
                    </li>
                                          <li>
                        <a href="#">
                            <img  src="images/trusted_scorp.png" width="150" height="50"/>
                        </a>
                    </li>
                      
 
                </ul>

            </div>

     
              
       
        </div>
     </div>

 </div>
