<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <title>Get Started Today - Create Your Free Account for Rakam</title>
    <meta name="title" content="Get Started Today - Create Your Free Account | Rakam">
    <meta property="og:site_name" content="Rakam Analytics"/>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/demo.css"/>

    <link rel="canonical" href="https://rakam.io/demo">
</head>

<body>

<div id="wrapper">
    <main class="demo-page" style="background-image: url('{{ .Site.BaseURL }}images/screens/demo.png')">
        <div class="get-started">
            <div class="get-started-content">
                <h3>Ready to see rakam in action?</h3>
                <form id="signup-form" method="post">
                    <input type="email" class="form-control" id="email" name="email" placeholder="matt@companyname.com" required>
                    <button type="submit" class="btn btn-green">Get Started</button>
                </form>
                <small class="help-block text-danger-help-block invalid-email">Your email doesn't seem to be valid. We promise that we won't spam you, please enter your correct e-email.</small>
                <small class="help-block text-danger-help-block">An account already exists withthat email. Please <a href="https://beta.rakam.io/login">log in</a>.</small>
            </div>
        </div>
    </main>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script>
  window.intercomSettings = {
    app_id: "balkdz0u"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/balkdz0u';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>

<script type="text/javascript">
    if ((window.location.search || '').indexOf('error=1') !== -1) {
        var el = document.querySelector('.contact-form.signup-form .help-block');
        if (el) {
            el.className += ' already-exists';
        }
    }

    var submitEmail = function (email) {
        if (window.Intercom) {
            window.Intercom('update', {email: email, visited_demo: true});
        }
        window.location = 'http://apibeta.rakam.io/api/settings/team/inviteToDemoProject?email=' + email
    }

    var error;

    $('#signup-form').submit(function(e) {
        e.preventDefault();
        var email = $('#email').val();

        if (error) {
            submitEmail(email);
        }

        $.get("https://api.hunter.io/trial/v2/email-verifier?api_key=0925084c997e6815149ee621344d1cef66194f68&format=json&email=" + email).then(function (response) {
            error = response.data.score <= 40;
            if (!error) {
                submitEmail(email);
            } else {
                $('.invalid-email').css('display', 'block')
            }
        }, function () {
            submitEmail(email);
        });
    })
</script>
</body>

</html>

