<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <title>Get Started Today - Create Your Free Account for Rakam</title>
    <meta name="title" content="Get Started Today - Create Your Free Account | Rakam">
    <meta property="og:site_name" content="Rakam Analytics"/>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/demo.css"/>

    <link rel="canonical" href="https://rakam.io/demo">
</head>

<body>

<div id="wrapper">
    <main class="contact-page">
        <section class="contact-section">
            <div class="right-content">
                <div class="content-holder">
                    <div class="content-frame">
                        <div class="header">
                            <h2>Ready to See Rakam In Action?</h2>
                            <p>Analytical window into your internal and external insight.</p>
                        </div>
                        <form id="signup-form" method="post">

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="email">Work email address</label>
                                        <input type="email" class="form-control" id="email" name="email"
                                               placeholder="matt@companyname.com" required>

                                        <small class="help-block text-danger-help-block invalid-email">Your email doesn't seem to be valid. We promise that we won't spam you, please enter your correct e-email.</small>

                                        <small class="help-block text-danger-help-block ">An account already exists with
                                            that email. Please <a href="https://beta.rakam.io/login">log in</a>.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-green" style="cursor:pointer">Get Started Now</button>
                        </form>
                        <div class="block-footer">

                            <div class="login-block">
                                <p>Have an account? <a href="https://beta.rakam.io/login">Log in here.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-content" style="background: url('images/demo-background.jpg') no-repeat 50% 0 / cover">
                <div class="content-holder">
                    <div class="content-frame">
                        <div class="logo-holder">
                            <div class="logo-frame">
                                <div class="logo">
                                    <a href="#"><img src="/images/new-logo.svg" width="170" height="35"
                                                     alt="Rakam"></a>
                                </div>
                            </div>
                        </div>
                        <blockquote>
                            <q>We are very happy with Rakam’s platform and the quality of their product. Rakam backend always meet or beat our expectations and we never have problems with the quality of the product. The best thing is when you’re confident enough to move your data to Rakam.</q>
                            <cite>
                                <span>Kevin Adams</span>
                                <span>CTO,  Adventure Bucket List Inc.</span>
                            </cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>

<script type="text/javascript">
    if ((window.location.search || '').indexOf('error=1') !== -1) {
        var el = document.querySelector('.contact-form.signup-form .help-block');
        if (el) {
            el.className += ' already-exists';
        }
    }

    var submitEmail = function (email) {
        if (window.Intercom) {
            window.Intercom('update', {email: email, visited_demo: true});
        }
        window.location = 'http://apibeta.rakam.io/api/settings/team/inviteToDemoProject?email=' + email
    }

    var error;

    $('#signup-form').submit(function(e) {
        e.preventDefault();
        var email = $('#email').val();

        if (error) {
            submitEmail(email);
        }

        $.get("https://api.hunter.io/trial/v2/email-verifier?api_key=0925084c997e6815149ee621344d1cef66194f68&format=json&email=" + email).then(function (response) {
            error = response.data.score <= 40;
            if (!error) {
                submitEmail(email);
            } else {
                $('.invalid-email').css('display', 'block')
            }
        }, function () {
            submitEmail(email);
        });
    })
</script>
</body>

</html>

