<div class="blue-header flat-header">
    <div class="container">
        <div ng-include src="'views/includes/header.html'"></div>
        <div class="">
            <div class="clearfix">
             
              <div class="row documents-header">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h1>Contact Us</h1>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p0">
                        <p> Enter your info to get in touch with someone from our team.</p>
                        </div>
                    
                    </div>
            
            
                </div>
            </div>
         </div>
    
    </div>

 </div>
 <div class="container">
     <div class=" pt-40 pb-40 clearfix">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <iframe style="width:100%; height: 300px; border:none" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3007.5061230383576!2d29.006432315160556!3d41.07978702297068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab66774177699%3A0x936fefd8e611f9de!2sKolektif+House+%7C+Levent!5e0!3m2!1sen!2str!4v1482064452174" width="600" height="450" frameborder="0" allowfullscreen="" class="ng-scope"></iframe>
       </div>
  
     </div>

      <div class="form-area col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
        <div class="form-area col-xs-12 col-sm-12 col-md-6 col-lg-6 pt-20">
            <div ng-include src="'views/includes/form.html'"></div>
        </div>
    <div class="form-area col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>




 </div>

