<main class="sign-up">
    <div class="form-page sign-up" style="width: 700px; margin: 0 auto;">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="logo"><a href="/"></a></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-center">
                        <img class="icon" src="https://s3.amazonaws.com/rakam-prod-static/logo/logo-white.png" style="height:100px">
                    </div>

                    <div>
                        <div class="col-xs-12 text-center">
                            <h1 class="section-title">You're one step away from exploring Rakam</h1>
                            <p class="bigger">Dive into your data with Rakam</p>
                            <div class="alert alert-warning" ng-show="error">Are you sure that your email is valid? We will promise that we won't share your e-mail address with anyone or spam you. 🙏</div>
                        </div>

                        <form ng-submit="verify(email)">
                            <div class="form-group">
                                <label for="email">Work Email</label>
                                <input type="email" class="form-control" id="email" required ng-model="email" placeholder="matt@companyname.com">
                            </div>

                            <div style="text-align: center;margin-bottom:20px">
                                <button type="submit" class="btn-extra-padding btn btn-lg btn-primary blue-header btn-solid btn-round">
                                    <span ng-show="!error">Explore Demo</span>
                                    <span ng-show="error" ng-click="submitEmail(email)">Yes, take me to the demo</span>
                                </button>
                            </div>

                            <!--<p class="text-center">By clicking 'Explore Demo', you confirm that you've read and agree to the<br><a target="_blank" href="/terms">Terms of-->
                                <!--Service</a>-->
                                <!--and <a target="_blank" href="/privacy">Privacy Policy</a>.</p>-->
                        </form>
                    </div>

                </div>


                <div class="col-xs-12 text-center">
                    <div class="divider"></div>
                    <p class="account-login">Have an account? <a href="https://app.rakam.io/login">Log in here</a>.</p>
                </div>

            </div>
        </section>

    </div>
</main>
</body>