<div ng-controller="mainController">
    <div class="blue-header flat-header">
        <div class="container">
            <div ng-include src="'views/includes/header.html'"></div>
            <div class="">
                <div class="row documents-header">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h1>Documents</h1>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p0">
                        <p>  <a href="https://github.com/buremba/rakam-wiki/fork"><button class="s-button"><i class="fa fa-github pr-5"></i>Fork</button></a> and contribute the docs!</p>
                        </div>
                    
                    </div>
            
            
                </div>
            </div>
        
        </div>

    </div>



    <div class="container">

        <div class="clearfix documents-area">
            <div class="col-md-3 sidebar">
            <h4 id="documents">Documents</h4>
            <!--<div ng-bind-html="sidebar"></div>-->
              <div markdown-content="sidebar" markdown-sidebar></div>
            </div>
            <div class="col-md-9 pt-30 pl-30 pb-30">
              <div class="search-box form-group">
                    <div class="icon-addon addon-md">
                        <input type="text" placeholder="Search" class="form-control" id="search-icon" ng-model="q"   ng-keydown="$event.which === 13 && search(q)" >
                        <label for="search-icon" class="fa fa-search" rel="tooltip" title="search-icon"></label>
                    </div>
               </div>

                <div markdown-content="content" parent="parent"></div>
            </div>

        </div>


    </div>
</div>
