<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
  <title>Markdown</title>
</head>
<body>
  <div id="preview"></div>
  <script>
    $.get({url: "https://raw.githubusercontent.com/buremba/rakam-android/master/README.md", 
           cache: false,
           success: function(returnhtml){    
             $('#preview')[0].innerHTML = markdown.toHTML(returnhtml);
           }           
    });    


  </script>
</body>
</html>
