<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
  <title>Markdown</title>
</head>
<body>
  <div id="preview"></div>
  <script>
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    $.get({url: getParameterByName('url'), 
           cache: false,
           success: function(returnhtml){    
             $('#preview')[0].innerHTML = markdown.toHTML(returnhtml);
           }           
    });    


  </script>
  <style>
    body {
      font-family: 'Proxima Nova','Open Sans',sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #747c84;
    }
    code, pre {
        margin: 20px 0;
        background-color: #f0f2f4;
        padding: 20px 50px;
        overflow: auto;
        font-family: monospace,monospace;
        font-size: 1em;
    }
  </style>
</body>
</html>
