<div class="blue-header ">
    <div class="container">
        <div class="header row">
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3">
                    <a href="#" class="logo"><img width="120" src="images/logo.png"/></a>
                </div>
                <div class=" col-md-7 col-lg-6 hidden-xs hidden-sm">
                    <ul class="menu">
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Developers</a></li>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class=" col-md-3 col-lg-3 hidden-xs hidden-sm">
                    <a href="#" class="login"><button class="btn-md s-button-o">Login</button></a>
                </div>

                <div class="col-xs-6 col-sm-6 hidden-lg hidden-md">
                    <div class="MobileMenu"  ng-class="{'active': active,'inactive':!active}" ng-click="active = !active">
                        <span class="MobileMenu-top"></span>
                        <span class="MobileMenu-middle"></span>
                         <span class="MobileMenu-bottom"></span>
                    </div>
                </div>
                <div class="Drawer" ng-class="{'open': active}">
                    <ul class="mobile-menu">
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Developers</a></li>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
        </div>
        
        <div class="">
            <div class="middle row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p class="subtitle">Analytics infrastructure on your cloud</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="hidden-xs hidden-sm">
                        <div class="pull-left try-area">
                            <a href="#" class="try-button"><button  class="btn-lg s-button">Try It Free</button></a>
                            <p>Integrate in seconds. Free signup</p>
                        </div>
                        <div class="pull-left">
                            <a href="#" class="schedule-button"><button  class="btn-lg s-button">Schedule a Demo</button></a>
                        </div>
                    </div>
                    <div class="hidden-md hidden-lg">
                        <div class="row pt-10">
                            <div class="col-xs-6 col-sm-6 text-center  try-area">
                                <a href="#" class="try-button p0"><button  class="btn-sm s-button">Try It Free</button></a>
                                <p>Integrate in seconds. Free signup</p>
                            </div>
                            <div class="col-xs-6 col-sm-6 text-center">
                                <a href="#" class="schedule-button p0"><button  class="btn-sm s-button">Schedule a Demo</button></a>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
         </div>
    
    </div>
    <div class="graph"></div>
 </div>

<div class="trusted-area ">
    <div class="container">
        <div class="row pt-10 pb-10">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 p0">
                 <p class="title">Trusted by</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 p0">

                <ul>
                    <li>
                        <a href="#">
                            <img  src="images/trusted_bionluk.png" width="150" height="50"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img  src="images/trusted_polo.png" width="150" height="50"/>
                        </a>
                    </li>
            
                    <li>
                        <a href="#">
                            <img  src="images/trusted_scorp.png" width="150" height="50"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img  src="images/trusted_twentify.png" width="150" height="50"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <img  src="images/trusted_panda.png" width="150" height="50"/>
                        </a>
                    </li>
                </ul>

            </div>

     
              
       
        </div>
     </div>

 </div>

 <div class="products-area">
        <div class="container">
            <h1>Products</h1>
            <uib-tabset active="3">
                <uib-tab index="0" heading="Rakam Api" >
                    <uib-tab-heading>
                        <i class="glyphicon glyphicon-list-alt"></i> <span class="hidden-xs">Rakam</span> Api
                    </uib-tab-heading>
                    Justified content
                </uib-tab>
                
                <uib-tab index="1" heading="Rakam IO">
                    <uib-tab-heading>
                        <i class="glyphicon glyphicon-signal"></i> <span class="hidden-xs">Rakam</span> IO
                    </uib-tab-heading>
                    Short Labeled Justified content
                    </uib-tab>
                <uib-tab index="2" heading="Rakam Ads">
                    <uib-tab-heading>
                        <i class="glyphicon glyphicon-thumbs-up"></i> <span class="hidden-xs">Rakam</span> Ads
                    </uib-tab-heading>
                    Long Labeled Justified content
                    </uib-tab>
                <uib-tab index="3" heading="Rakam Dashboard">
                    <uib-tab-heading>
                        <i class="glyphicon glyphicon-dashboard"></i> <span class="hidden-xs">Rakam</span> Dashboard
                    </uib-tab-heading>
                    <div class="tab-content">
                        <div class="col-sm col-md-6 col-lg-6 context">
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 
                                <a class="hidden-xs" href="#"><button  class="btn-lg p-button p10 mt-10">Go Rakam Dashboard</button></a>
                            </p>
                        </div>
                        <div class="col-sm col-md-6 col-lg-6 img-content">
                            <img src="images/dashboard.jpg" width="100%"/>
                        </div>
                        <div class="full-button hidden-lg">
                            <a href="#"><button  class="btn-lg p-button p10 mt-10">Go Rakam Dashboard</button></a> 
                        </div>
                        
                    </div>

                </uib-tab>
                
            </uib-tabset>
        </div>

    </div>

    <div class="schedule-area">
        <div class="container p0">
            <div class="col-sm col-md-6 col-lg-6">

                <div class="schedule">
                    <h1>Schedule a Demo</h1>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                 </div>
                    
            </div>
            <div class="col-sm col-md-6 col-lg-6 ">

                <div class="form-area">
                    <img class="email-icon" src="images/email.png"/>
                    <form class="">

                        <div class="form-group">
                            <div class="icon-addon addon-md">
                                <input type="text" placeholder="Name Surname" class="form-control" id="name">
                                <label for="name" class="glyphicon glyphicon-user" rel="tooltip" title="name"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="icon-addon addon-md">
                                <input type="text" placeholder="Email Address" class="form-control" id="email">
                                <label for="email" class="glyphicon glyphicon-envelope" rel="tooltip" title="email"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="icon-addon addon-md">
                                <input type="text" placeholder="Phone Number" class="form-control" id="phone">
                                <label for="phone" class="glyphicon glyphicon-phone" rel="tooltip" title="phone"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea placeholder="Anything else?"></textarea>
                        </div>
                    
                            
                    
                    </form>
                     <div class="form-group">
                        <button type="button" class="demo-btn">Schedule</button>
                    </div>
                    
            </div>
                        


        </div>




    </div>