<div class="blue-header flat-header">
    <div class="container">
        <div ng-include src="'views/includes/header.html'"></div>
        <div class="">
            <div class="clearfix">
                <div class="row integrates-header">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>Integration</h1>
                        <p> Build your data lake with Rakam. Integrate any data-source you want.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div style="background: #3D4D65;padding-bottom:20px">
    <div class="container integrate clearfix pt-20">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-l2">
                <div class="rounded" ng-class="{selected: param == 'buremba/rakam-javascript'}">
                    <a href="/integrate/buremba/rakam-javascript/master/README"
                       aria-label="Collect data from websites" class="box">
                        <!--<a ng-click="websiteIntegration()" class="box">-->
                        <div>
                            <i class="fa fa-list-alt"></i> Website
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-l2">
                <div class="rounded col-md-6" ng-class="{selected: param == 'buremba/rakam-android'}" style="border-radius: 3px 0 0 3px;">
                    <a href="/integrate/buremba/rakam-android/master/README" aria-label="Track your visitors activities on your Android app" class="box">
                        <div>
                            <i class="fa fa-android"></i> Android
                        </div>
                    </a>
                </div>
                <div class="rounded col-md-6" ng-class="{selected: param == 'rakam-io/rakam-ios'}" style="border-radius: 0 3px 3px  0;">
                    <a href="/integrate/rakam-io/rakam-ios/master/README" aria-label="Track your visitors activities on your IOS app" class="box">
                        <div>
                            <i class="fa fa-apple"></i> IOS
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-l2">
                <div class="rounded col-md-6" ng-class="{selected: param == 'third-party/'}" style="border-radius: 3px 0 0 3px;">
                    <a href="/integrate/third-party" aria-label="Send data to Rakam using your favorite programming language" class="box">
                        <div>
                            <i class="fa fa-external-link"></i> Services
                        </div>
                    </a>
                </div>
                <div class="rounded col-md-6" ng-class="{selected: param == 'buremba/rakam-ios'}" style="border-radius: 0 3px 3px  0;">
                    <a href="/integrate/buremba/rakam-wiki/master/Database" aria-label="Integrate your custom databases" class="box">
                        <div>
                            <i class="fa fa-database"></i> Databases
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-l2">
                <div class="rounded" ng-class="{selected: param == 'import/'}">
                    <a href="/integrate/buremba/rakam-wiki/master/Import"
                       aria-label="Import data to Rakam" class="box">
                        <div>
                            <i class="fa fa-cloud-download"></i> Import Data
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-l2">
                <div class="rounded">
                    <a href="https://api.rakam.io#collect-event"
                       aria-label="Send data to Rakam using your favorite programming language" class="box">
                        <div>
                            <i class="fa fa-code"></i> API Reference
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container clearfix pt-20">
    <div class="embedbox" after-loaded="callback" markdown-content="content"></div>

    <div ng-if="param == 'third-party/rakam-javascript'">
        <input type="search" class="form-control" placeholder="Search in integrations" ng-model="searchTerm">
        <h3>Scheduled tasks</h3>

        <ul style="list-style: none; padding: 0;margin-top:30px">
            <li style="display:inline-block;text-align: center"
                ng-repeat="integration in scheduledTasks|filter:searchTerm" class="col-md-2"
                ng-href="https://app.rakam.io/settings/integration/third-party/scheduled-task/?template={{integration.slug}}">
                <img style="max-width:100px; max-height: 80px;border-radius:2px;margin-bottom:10px" ng-src="https://app.rakam.io{{integration.image}}">

                <div style="vertical-align: middle; border:none">
                    <h4 style="text-transform: capitalize;color:inherit"> {{integration.name}}</h4>
                </div>
            </li>

            <li class="custom-item col-md-2" ng-click="custom()">
                <a href="/doc/buremba/rakam-wiki/master/Collecting-Events#scheduledtasks">
                <i style="font-size:7em" class="fa fa-code"></i>

                <div style="vertical-align: middle; border:none">
                    <h4 style="text-transform: capitalize;color:inherit"> Custom</h4>
                </div>
                    </a>
            </li>
        </ul>
        <div class="clearfix"></div>


        <h3>Webhooks</h3>

        <ul style="list-style: none; padding: 0;margin-top:30px">
            <li style="display:inline-block;text-align: center;padding:10px 25px" ng-repeat="integration in webhooks|filter:searchTerm"
                class="col-md-2"
                ng-href="https://app.rakam.io/settings/integration/third-party/scheduled-task/?template={{integration.slug}}">
                <img style="max-width:100px; max-height: 80px;border-radius:2px;margin-bottom:10px" ng-src="https://app.rakam.io{{integration.image}}">
                <div style="vertical-align: middle; border:none">
                    <h4 style="text-transform: capitalize;color:inherit"> {{integration.name}}</h4>
                </div>
            </li>


            <li class="custom-item col-md-3" ng-click="custom()">
                <a href="/doc/buremba/rakam-wiki/master/Collecting-Events#webhook">
                    <i style="font-size:7em" class="fa fa-code"></i>

                    <div style="vertical-align: middle; border:none">
                        <h4 style="text-transform: capitalize;color:inherit"> Custom</h4>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>



