<section class="container-fluid" id="main_header">
    <div class="container">
        <div ng-include src="'views/includes/new-header-product.html'"></div>

        <div class="row box">
            <div class="col-xs-12 col-sm-5 col-lg-5">
                <h1>Unified Analytical Platform</h1>
                <p> 
                    Analytical window into your internal and external insight 
                </p>
                <a href="#">View Demo</a>
            </div>
            <div class="hidden-xs col-sm-7 col-lg-7 box_animation">
                <img src="../images/animation_mocup_rakam.png" alt="" class="img_1">
                <img src="../images/group-main-2.gif" alt="" class="img_2">
                <img src="../images/group-main-3.png" alt="" class="img_3">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p>Trusted by such Companies</p>
                <ul>
                    <li>
                        <a href="">
                            <img src="../images/Companies1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../images/Companies2.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../images/Companies3.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../images/Companies4.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../images/Companies5.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="container" id="main_tab">
    <div class="row">
        <h2 class="col-xs-12">How Rakam Works</h2>
    </div>

    <div ng-controller="mainTabs" class="row box">
        <uib-tabset active="active">

            <uib-tab index="0" heading="Install Rakam">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 box_1">
                    <h3>Install Rakam</h3>
                    <p>install rakam to your cloud provider with one click</p>
                    <a href="/deploy">Read More</a>
                </div>
                <div class="hidden-xs col-sm-3">
                    <img src="../images/main1.svg" alt="">
                </div>
            </uib-tab>

            <uib-tab index="1" heading="Integrate data sources">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 box_2">
                    <h3>Integrate data sources</h3>
                    <p>Integrate your website, mobile app, database or third party sources</p>
                    <a href="/integrate">Read More</a>
                </div>
                <div class="hidden-xs col-sm-3">
                    <img src="../images/main2.svg" alt="">
                </div>
            </uib-tab>

            <uib-tab index="2" heading="Predefined reports & dashboards">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 box_3">
                    <h3>Predefined reports & dashboards</h3>
                    <p>Explore your data with funnels, retention and segmentation reports or directly using SQL.</p>
                    <a href="#recipes">Read More</a>
                </div>
                <div class="hidden-xs col-sm-3">
                    <img src="../images/main3.svg" alt="">
                </div>
            </uib-tab>

            <uib-tab index="3" heading="Share with your team">
                <div class="col-xs-12 col-sm-5 col-sm-offset-2 box_4">
                    <h3>Share with your team</h3>
                    <p>Once you created your reports and dashboard, share them with your team.</p>
                    <a href="/product/ui">Read More</a>
                </div>
                <div class="hidden-xs col-sm-3">
                    <img src="../images/main4.svg" alt="">
                </div>
            </uib-tab>

        </uib-tabset>

    </div>
</section>


<section class="container-fluid" id="main_our_products">
    <div class="container">
        <div class="row row_h2">
            <h2>Our Products</h2>
        </div>

        <div class="row box">
            <div class="col-sm-6">
                <h3>Rakam API</h3>
                <p>Takes care of collecting, enriching (No more complex ETL!) and storing the data on data warehouse. One-click installation to your AWS, Heroku, Digitalocean accounts or on-premise servers via Docker.</p>
                <ul>
                    <li>Open source, deploy it at your premise or in the cloud.</li>
                    <li>Scalable, our customers currently store +30B events monthly</li>
                    <li>Feature-rich and customizable with more than +50 endpoints</li>
                    <li>Store data on your servers</li>
                </ul>
                <a href="/product/api">Read More</a>
            </div>
            <div class="col-sm-5 img_center">
                <img src="../images/homeOurProducts1.png" alt="">
            </div>
        </div>

        <div class="row box">
            <div class="hidden-xs col-sm-5">
                <img src="../images/homeOurProducts2.svg" alt="">
            </div>
            <div class="col-sm-7">
                <h3>Rakam UI</h3>
                <p>Visualize and analyze your data within seconds. A simple and intuitive user interface for business users and data scientists.</p>
                <ul>
                    <li>Create your custom reports using SQL with dynamic variable support.</li>
                    <li>Create your dashboards and customize the layout for your use-case</li>
                    <li>Run funnels, retention and segmentation reports easily with drag & drop.</li>
                </ul>
                <a href="/product/ui">Read More</a>
            </div>
            <div class="col-sm-5 hidden-sm hidden-md hidden-lg img_center">
                <img src="../images/homeOurProducts2.svg" alt="">
            </div>
        </div>

        <div class="row box" id="recipes">
            <div class="col-sm-6">
                <h3>Analytics with Recipes</h3>
                <p>Do you need to act fast and you don't have time for additional settings? Rakam provides Pre-Built templates with all needed data and metrics according to your line of work. We already predicted what data will be needed during your work process, but if you need some extra features they can be easily set up by several clicks!</p>
                <ul>
                    <li>Turn Rakam into a marketing analytics solution by connecting Facebook Ads, Google Adwords and Google Webmaster recipes.</li>
                    <li>We created e-commerce analytics solutions for you. Install the recipe and use the e-commerce metrics</li>
                </ul>
                <a href="/product/prebuilt">Read More</a>
            </div>
            <div class="col-sm-5 img_center">
                <img src="../images/homeOurProducts3.svg" alt="">
            </div>
        </div>
    </div>
</section>


<section class="container" id="main_why_do">
    <div class="row">
        <h2 class="col-xs-12">Why should I use Rakam?</h2>
    </div>
    <div class="row">
        <ul>
            <li>
                <img src="../images/homeWhyDo1.svg" alt="">
                <h3>I am a Developer</h3>
                <p>Don’t spend time to develop your own data pipeline or build your own visualization tool</p>
            </li>
            <li>
                <img src="../images/homeWhyDo2.svg" alt="">
                <h3>I am a Data Scientist</h3>
                <p>Run ad-hoc behavioral analytics queries such as funnel, retention reports and analyze your data with SQL queries</p>
            </li>
            <li>
                <img src="../images/homeWhyDo3.svg" alt="">
                <h3>I am a Business User</h3>
                <p>A magnet fitting all your data sources into a single view to enable you to make informed decisions</p>
            </li>
        </ul>
    </div>
</section>


<section class="container-fluid" id="main_pricing">
    <div class="container">
        <div class="row box_header">
            <h2>Pricing Of Our Company</h2>
            <p>Let’s create your company-wide analytics platform together.</p>
        </div>

        <div class="row box_content">
            <div class="col-sm-6">
                <h3>Open-source</h3>
                <ul>
                    <li>* On-premise Rakam, full control over your data</li>
                    <li>* Postgresql data warehouse, good for up to 1B data points</li>
                    <li>* Event Mappers</li>
                    <li>* Third party data integration</li>
                    <li>* External data integration</li>
                </ul>
                <a href="" class="home_more">Learn More</a>
                <a href="" class="home_btn">Get started</a>
            </div>
            <div class="col-sm-6">
                <h3>Premium</h3>
                <ul>
                    <li>* All the features of open-source version.</li>
                    <li>* One click installers to your cloud provider</li>
                    <li>* Scalable for +1B data points</li>
                    <li>* Premium support</li>
                    <li>* External data integration</li>
                    <li>* Optional managed Rakam cluster</li>
                </ul>
                <a href="" class="home_more">Learn More</a>
            </div>
        </div>
    </div>
</section>

<section class="container" id="main_testimonials">

    <div class="row box_testimonials">
        <h2>Testimonials</h2>
        <div class="col-md-10 col-md-offset-1">

            <div ng-controller="CarouselCtrl">
              <div class="tcb-quote-carousel">
                <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">

                  <div class="item" uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <div class="profile-circle">
                        <img class="img-responsive" ng-src="{{slide.image}}" alt="{{slide.altImage}}">
                    </div>
                    <div class="box">
                        <h3>{{slide.title}}</h3>
                        <p>{{slide.title2}}</p>
                    </div>
                    <blockquote>
                        <p>{{slide.text}}</p>
                    </blockquote>
                  </div>

                </div>
              </div>
            </div>
            
        </div>
    </div>

</section>


<div ng-include src="'views/includes/new-footer-product.html'"></div>