<div class="blue-header ">
    <div class="container">
        <div ng-include src="'views/includes/header.html'"></div>
        <div class="">
            <div class="middle row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <p class="subtitle">All your date in one place. Customisable for your needs.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div style="
    text-align: center;
            ">
                        <div style="
    color: #fff; transform: rotate(-15deg); display: inline-block; font-weight: bold; position: relative; top: -27px; left: -30px; background: rgba(0, 0, 0, 0.15); border-radius: 5px; padding: 5px 11px;
">
                            <!--<i class="fa fa-map-pin" style="position:relative; top:-6px;left:4px;color: rgba(0, 0, 0, 0.15);position:absolute"></i> -->
                            OLD WAY
                        </div>
                        <img src="/images/old_way_analytics1.png" style="width:460px;margin-top:-20px;margin-left:-30px;margin-bottom: 45px;" class="old-way">
                    </div>
                    <div class="hidden-xs hidden-sm" style="
    text-align: center;
">
                        <div class="" style="
    display: inline-block;
">
                            <a href="/demo"
                               class="try-button">
                                <button class="btn-lg s-button">View Demo</button>
                            </a>
                        </div>
                        <div class="try-area" style="
    display: inline-block;
    margin-left: 20px;
">
                            <a href="https://app.rakam.io/register" class="schedule-button">
                                <button class="btn-lg s-button">Try Rakam</button>
                            </a>
                        </div>
                    </div>
                    <div class="hidden-md hidden-lg">
                        <div class="pt-10">
                            <div class="col-xs-6 col-sm-6 text-center  ">
                                <a href="https://demo.rakam.io/login?project_name=demo_ecommerce&amp;api_url=https://rakam-trial-webapp-1979847320.us-east-1.aws.getrakam.com&amp;action&amp;email=local@demo.com&amp;password=demoAccount1&amp;utm_source=land_tryitfree"
                                   class="try-button p0">
                                    <button class="btn-sm s-button">View Demo</button>
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-6 text-center try-area">
                                <a href="https://app.rakam.io/register" class="schedule-button p0">
                                    <button class="btn-sm s-button">Try Rakam</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left:-60px;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 30px;
">
                        <div style="
    color: #000000; transform: rotate(-15deg); display: inline-block; font-weight: bold; position: relative; top: 10px; left: -30px; background: rgba(255, 228, 26, 1); border-radius: 5px; padding: 5px 11px;
"><b>NEW WAY</b>                        </div>
                        <img src="/images/new_way_analytics.png" style="
    width: 300px;
    /* margin-left: 65px; */
    /* margin-top: 10px; */
">


                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--<div class="graph1"></div>-->
    <div class="graph2"></div>
</div>

<div ng-include src="'views/includes/trusted.html'"></div>

<div style="overflow: hidden">
    <div class="products-area pt-30 pb-30" id="productsarea">
        <div class="">

            <div class="container">
                <div class="tab-content">
                    <div class="col-sm context" style="padding-bottom:40px">
                        <div class="row">
                            <div class=" col-md-7 col-lg-7">
                                <h2><i class="fa fa-code"></i> Rakam API</h2>

                                <div>
                                    <p>
                                        Rakam is a modular analytics platform that provides you a set of features to create your own analytics service without hassle. Rakam API is
                                        free and
                                        open source so that you can just start to deploy right away to your cloud provider, on-premise servers or just local environment.<br>
                                    <ul>
                                        <li>Rich analytical features with more than 100 endpoints.</li>
                                        <li>Designed to handle your events concurrently at any scale.</li>
                                        <li>One-click installation to AWS, Heroku, Digitalocean or Docker.</li>
                                        <li> It's modular, enable the features that you want to use or develop custom modules for your needs.</li>
                                    </ul>
                                    </p><a class="hidden-xs" href="/product/api">
                                    <button class="btn-lg p-button p15 mt-10">view more</button>
                                </a>
                                </div>
                            </div>
                            <div class="col-sm col-md-5 col-lg-5 img-content" style="text-align:center">
                                <img src="images/api_img2.png" style="margin-top:30px;width:385px;margin-left:-5px;"/>
                            </div>
                        </div>
                        <div class="full-button hidden-lg">
                            <br> <a href="/product/api">
                            <button class="btn-lg p-button p15 mt-10">view more</button>
                        </a>
                        </div>
                    </div>

                </div>
            </div>

            <div style="background:#edf2f5;transform: rotate(1deg);width:102%;margin-left:-2%;padding-left:2%;padding-bottom:40px">
                <div class="container" style="margin-top:40px;transform: rotate(-1deg)">
                    <div class="tab-content">

                        <div class="col-sm col-md-7 col-lg-7 context">
                            <h2 style="margin-bottom:20px"><i class="glyphicon glyphicon-signal"></i> Rakam UI</h2>

                            <p>
                                You can build custom reports or custom dashboards just connect Rakam with third-party tools or join Rakam data with internal data sources. A full
                                stack
                                analytics platform for you, including both backend and frontend.
                            <ul>
                                <li>Simple and powerful business intelligence.</li>
                                <li> Security is not a feature, it's state of mind.</li>
                                <li> Advanced visualization techniques.</li>
                                <li>
                                    Customize for your needs, it's flexible.
                            </ul>
                            <br> <a class="hidden-xs" href="/product/ui">
                            <button class="btn-lg p-button p15 mt-10">view more</button>
                        </a>
                            </p>
                        </div>
                        <div class="col-sm col-md-5 col-lg-5 img-content" style="text-align:center">
                            <img src="images/event.png" style="margin-top:30px;width:370px"/>
                        </div>
                        <div class="full-button hidden-lg">
                            <br> <a href="/product/ui">
                            <button class="btn-lg p-button p15 mt-10">view more</button>
                        </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container">
                <h2 style="margin-top:60px"><i class="fa fa-blind"></i> Pre-built Analytics with Recipes</h2>
                <div class="tab-content">
                    <p>
                        We're aware that creating your own reports is not an easy task, don't waste your time.
                        We provide you some useful insights with recipes based on the services and platforms that you integrated with Rakam.
                        Start easy, build on demand based on your custom needs.
                        You can even share your recipes with other people, think of them as custom analytics services.
                    </p>
                    <div class="col-sm context row">
                        <div class="col-md-2">
                            <a class="no-decoration" href="/">
                                <div class="prebuilt-box">
                                    <img src="/images/website_analytics.png" style="margin-left: 30px;height: 70px;">
                                    Website Analytics
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="no-decoration" href="/">
                                <div class="prebuilt-box">
                                    <img src="/images/mobile_analytics.png" style="margin-left: 30px;height: 70px;">
                                    Mobile Analytics
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="no-decoration" href="/">
                                <div class="prebuilt-box">
                                    <img src="/images/marketing_analytics.png" style="margin-left: 30px;height: 70px;">
                                     Marketing Analytics
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="no-decoration" href="/">
                                <div class="prebuilt-box">
                                    <img src="/images/acqusition_analytics.png" style="margin-left: 30px;height: 70px;">
                                    Acquisition Analytics
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="no-decoration" href="/">
                                <div class="prebuilt-box">
                                    <img src="/images/intercom-logo.png" style="height:70px;margin-left: 30px;"> Intercom Analytics
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="no-decoration" href="/">
                                <div class="prebuilt-box">
                                    <img src="/images/logo.png" style="height:70px;margin-left: 18px;">
                                    Custom Analytics
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="background:#edf2f5;transform: rotate(-1deg);width:102%;margin-left:-2%;padding-left:2%;padding-bottom:40px">
        <div class="container" style="transform: rotate(1deg)">
            <h2 style="margin-top:40px"> Why do I need Rakam?</h2>
            <div class="tab-content">
                <ul>
                    <li style="line-height:40px;font-size:1.3em">You're <b>data-driven</b>!</li>
                    <li style="line-height:40px;font-size:1.3em">You're looking for a <b>cheap</b> solution.</li>
                    <li style="line-height:40px;font-size:1.3em">You don't want to spend <b>too much time</b> to develop a data pipeline solution.</li>
                    <li style="line-height:40px;font-size:1.3em">You need to store <b>your data on your servers</b> so that you have the full control.</li>
                    <li style="line-height:40px;font-size:1.3em">You want to be able to <b>customize</b> my data analytics service when you need to.</li>
                </ul>
            </div>
        </div>
    </div>

    <div style="transform: rotate(1deg);width:102%;margin-left:-2%;padding-left:2%;padding-bottom:40px">
        <div class="container" style="transform: rotate(-1deg)">
            <h2 style="margin-top:40px"> Testimonials</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="tcb-quote-carousel">
                            <div class="quote"><i class=" fa fa-quote-left fa-4x"></i></div>
                            <div class="carousel slide carousel-fade" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                                <!-- Carousel indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#fade-quote-carousel" ng-click="activeSlide = 0" class="active"></li>
                                    <li data-target="#fade-quote-carousel" ng-click="activeSlide = 1"></li>
                                </ol>
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="item" ng-class="{active: activeSlide == 0}">
                                        <div class="profile-circle"><img class="img-responsive " src="/images/kaan_ugurlu.jpg" alt="Kaan Uğurlu"></div>
                                        <p style="text-align:center">Kaan Uğurlu | Co-Founder | Scorp</p>
                                        <blockquote>
                                            <p>With Rakam.io we're able to process our custom event data with ease. Being able to write our own custom reports allows us to created detailed reports. We can segment users based on complicated action history and see user engagements and retention for each user segment. The rakam BI panel allows us to create useful reports with graphs and tables easily which saves us the trouble of developing extra analytics panel.</p>
                                        </blockquote>
                                    </div>
                                    <div class="item" ng-class="{active: activeSlide == 1}">
                                        <div class="profile-circle"><img class="img-responsive " src="/images/osman1.png" alt=""></div>
                                        <p style="text-align:center">Osman Erdoğan | Managing Partner | Clickteller Digital Marketing Agency</p>
                                        <blockquote>
                                            <p>Before that we’ve used default Facebook and Google reporting tools and were hard to combine all data. With Rakam we’re able to combine and analyze all details, at this moment we’re using pre-built analytics for our customers and happy to dive into data without any missing points for ads.</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
<div class="pt-40 pb-40 clearfix integrate-area blue-header">
    <div class="col-md-8">
        <h3 style="color:#ffffff">Answer questions as fast as you can think of them with Rakam. Let's find best way to help you.</h3>
    </div>
    <div class="col-md-4 text-center">
        <div class="vercital-middle">
            <a href="http://app.rakam.io/register">
                <button style="width:160px" class="s-button">Try Rakam</button>
            </a>
        </div>
    </div>
</div>

<br>

<div class="pt-40 pb-40 clearfix integrate-area bg-sand">
    <div class="col-md-8">
        <h3 style="color:#ffffff">Let us find the best data analytics solution for you</h3>
    </div>
    <div class="col-md-4 text-center">
        <div class="vercital-middle">
            <a ng-click="sendMessageIntercom()">
                <button style="width:160px" class="s-button">Contact us</button>
            </a>
        </div>
    </div>
</div>
</div>
<!--<div class="schedule-area " id="scheduleDemo">-->
    <!--<div class="container p0">-->
        <!--<div class="col-sm col-md-6 col-lg-6">-->

            <!--<div class="schedule">-->
                <!--<h1>Schedule a Demo</h1>-->
                <!--<p>Answer questions as fast as you can think of them with Rakam. Let's find best way to help you.</p>-->
            <!--</div>-->

        <!--</div>-->
        <!--<div class="col-sm col-md-6 col-lg-6 ">-->
            <!--<div ng-include src="'views/includes/form.html'"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
