<div class="blue-header ">
    <div class="container">
        <div ng-include src="'views/includes/header.html'"></div>
        <div class="">
            <div class="row pricing-header">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h1>Pricing</h1>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 p0">
                        <p>Ready to dive into your data on your cloud</p>
                    </div>
                </div>
         
        
            </div>
         </div>
    
    </div>

</div>


<div class="pricing-area">

    <div class="container">

        <uib-tabset active="0">
            <uib-tab index="0" heading="PaaS" >

                <div class="clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="price-box">
                            <h2>
                                Open Source
                            </h2>
                            <div class="price-content">
                              <p><img src="images/pricing-icon-1.png"/></p>
                              <p>Rakam Core API</p>
                              <p>Event Mappers</p>
                              <p>Postgresql deployment type</p>
                              <p>Trackers / Client Libraries</p>
                              <h3>Free <span></span></h3>
                            </div>

                        </div>

                    </div>
                     <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="price-box">
                            <h2>
                                Business
                            </h2>
                            <div class="price-content">
                              <p><img src="images/pricing-icon-2.png"/></p>
                              <p>Rakam Core API</p>
                              <p>Event Mappers</p>
                              <p>Postgresql deployment type</p>
                              <p>Trackers / Client Libraries</p>
                              <p>SQL Stream processing (Real-time)</p>
                              <h3>Free <span>in beta</span></h3>
                              <a href="/contact"><button class="s-button">Contact</button></a>
                            </div>

                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="price-box">
                            <h2>
                                Enterprise
                            </h2>
                            <div class="price-content">
                              <p><img src="images/pricing-icon-3.png"/></p>
                              <p>Rakam Core API</p>
                              <p>Event Mappers</p>
                              <p>Postgresql deployment type</p>
                              <p>Premium Support</p>
                              <p>Automation Module</p>
                              <p>A/B Testing Module</p>

                              <a href="/contact"><button class="s-button">Contact</button></a>
                            </div>

                        </div>

                    </div>                                     
                                  
                </div>


                <div class="clearfix pt-10">

                    <div class="fixed-table-header">
                        <div class="container-fluid">
                            <div class="row">
                            <div class="col-xs-12">

                                <div class="wrapper-mask">
                                <table>
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th><div class="relative-wrapper"><span>Starter</span></div></th>
                                        <th><div class="relative-wrapper"><span>Elite</span></div></th>
                                        <th><div class="relative-wrapper"><span>Enterprise</span></div></th>
                                    </tr>
                                    </thead>
                                </table>
                                </div>

                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="features-title">Compare All Features</h1>
                            <table class="features">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th><div class="relative-wrapper"><span>Starter</span></div></th>
                                    <th><div class="relative-wrapper"><span>Elite</span></div></th>
                                    <th><div class="relative-wrapper"><span>Enterprise</span></div></th>
                                </tr>
                                </thead>

                                <tbody>

                                <tr class="row-title">
                                    <td colspan="4">Rakam Core API</td>
                                </tr>
                                <tr>
                                    <td class="row-label">Events per Month</td>
                                    <td>0–10 M<span class="hidden-xs">illion</span></td>
                                    <td>Custom Volume<span class="hidden-xs"></span></td>
                                    <td>Custom Volume<span class="hidden-xs"></span></td>
                                </tr>
                                <tr>
                                    <td class="row-label">Number of Apps or Sites</td>
                                    <td><span class="hidden-xs">Custom</span><span class="hidden-sm hidden-md hidden-lg">Custom</span></td>
                                    <td><span class="hidden-xs">Custom</span><span class="hidden-sm hidden-md hidden-lg">Custom</span></td>
                                    <td><span class="hidden-xs">Custom</span><span class="hidden-sm hidden-md hidden-lg">Custom</span></td>
                                </tr>


                                <tr class="row-title">
                                    <td colspan="4">Events Mapper</td>
                                </tr>
                                <tr>
                                    <td class="row-label">Custom Dashboard</td>
                                    <td><span class="hidden-xs">Custom</span><span class="hidden-sm hidden-md hidden-lg">Custom</span></td>
                                    <td><span class="hidden-xs">Custom</span><span class="hidden-sm hidden-md hidden-lg">Custom</span></td>
                                    <td><span class="hidden-xs">Custom</span><span class="hidden-sm hidden-md hidden-lg">Custom</span></td>

                                </tr>
                                <tr>
                                    <td class="row-label">Cross-Platform User Tracking</td>
                                    <td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
                                    <td><i class="fa fa-check"></i></td>
                                </tr>
                                



                                <tr class="bottom-row">
                                    <td>
                                    
                                    </td>
                                    <td class="bottom-container">
                                    <div class="inner">
                                        <p>Free for 10 Million Monthly Events</p>
                                        <div class="btn-wrapper">
                                        <a  href="http://rakam.io/register"><button class="s-button">Get Started</button></a>
                                        </div>
                                    </div>
                                    </td>

                                    <td class="bottom-container">
                                    <div class="inner">
                                        <p>High Data Volume</p>
                                        <div class="btn-wrapper">
                                        <a  href="/contact"><button class="s-button">Contact</button></a>
                                        </div>
                                    </div>
                                    </td>

                                    <td class="bottom-container">
                                    <div class="inner">
                                        <p>High Data Volume + Behavioral Analytics</p>
                                        <div class="btn-wrapper">
                                        <a  href="/contact"><button class="s-button">Contact</button></a>
                                        </div>
                                    </div>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div> 

                    </div>
                    </div>


                </div>
            </uib-tab>
            
            <uib-tab index="1" heading="SaaS">

              <div class="form-area col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
                <div class="form-area col-xs-12 col-sm-12 col-md-6 col-lg-6 pt-40">
                    <div ng-include src="'views/includes/form.html'"></div>
                </div>
             <div class="form-area col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

            </uib-tab>

                        
                    
        </uib-tabset>
    </div>
</div>

<div ng-include src="'views/includes/trusted.html'"></div>
