<section class="container" id="api_header">
    <div class="header row">
 
        <header class="cd-morph-dropdown" ng-controller="menuController">

            <a href="/" class="logo-mobile hidden-md hidden-lg"><img width="144" src="images/new-logo.svg"/></a>
            <a href="#0" class="nav-trigger">Open Nav<span aria-hidden="true"></span></a>
            
            <nav class="main-nav" style="margin-top: 7px;">
                <ul>
                    <li class="has-dropdown" data-content="products">
                        <a href="#0">Products</a>
                    </li>

                    <li class="has-dropdown" data-content="developers">
                        <a href="#0">Developers</a>
                    </li>

                    <li class="has-dropdown" data-content="company">
                        <a href="#0">Company</a>
                    </li>
                    <li>
                        <a href="#">Usefull</a>
                    </li>
                </ul>
            </nav>
            
            <div class="morph-dropdown-wrapper">
                <div class="dropdown-list">
                    <ul>
                        <li id="products" class="dropdown products menuSpecial">
                            <a href="#0" class="label">Products</a>
                            
                            <div class="content">   
                                <div class="top-section clearfix">
                                <ul class="clearfix col-md-6">
                                    <li><a href="/product/api">
                                        <h4 class="color-soir-wh">Rakam API</h4>
                                        <p>Event Explorer, Funnel, Retention for analyzing event data-sets.</p></a>
                                    </li>

                                </ul>
                                <ul class="clearfix col-md-6">
                                    <li ><a href="/product/ui">
                                        <h4 class="color-sand-wh hover-black">Rakam UI</h4>
                                        <p> Create your custom analytics service with SQL using Rakam UI</p></a>
                                    </li>

                                </ul>
                                <ul class="clearfix col-md-12">
                                    <li><a href="/product/prebuilt">
                                        <h4 class="hover-black">Rakam Pre-Built Analytics</h4>
                                        <p> Ads, Gaming, Web, Mobile, IoT and many more analytics solutions</p></a>
                                    </li>

                                </ul>

                            </div>
                            </div>
                        </li>

                        <li id="developers" class="dropdown developers menuSpecial">
                            <a href="#0" class="label">Developers</a>
                            <div class="content">
                                <div class="top-section clearfix">
                                <ul class="clearfix col-md-6">
                                    <li><a href="/docs">
                                        <h4>Documentation</h4>
                                        <p>Learn how to setup, use and customize Rakam.</p></a>
                                    </a>

                                    </li>
                                    <li><a href="http://api.rakam.io">
                                        <h4>API documentation</h4>
                                        <p>The GUI for developers, learn <br>how to use the RESTFul API.</p>
                                    </a>
                                    </li>
                                </ul>
                                     <ul class="clearfix col-md-6">
                                         <li><a href="/integrate">
                                             <h4>Integration</h4>
                                             <p>How to integrate Rakam with your app and third-party services.</p></a>
                                         </li>
                                    <li><a href="https://github.com/rakam-io/rakam">
                                        <h4><i class="fa fa-github"></i> View in Github</h4>
                                        <p>Want to dig into the code, you're good to go!</p>
                                        </a></li>
                                        <li><a href="/deploy">
                                             <h4>Deploy</h4>
                                             <p>Learn how to deploy Rakam easily.</p></a>
                                         </li>
                                    </ul>
                            </div>
                            </div>
                        </li>

                        <li id="company" class="dropdown company menuSpecial">
        
                            <a href="#0" class="label">Company</a>
                            <div class="content">   
                                <div class="top-section clearfix">
                                <ul class="clearfix col-md-6">
                                    <li><a href="/about">
                                        <h4>About Rakam</h4>
                                        <p>What's Rakam and <br>who we are?</p></a>
                                    </li>
                                </ul>
                                <ul class="clearfix col-md-6">
                                    <li><a href="http://blog.rakam.io">
                                        <h4>Blog</h4>
                                        <p>Some tips, tutorials and product updates for you</p></a>
                                    </li>
                                    <li><a href="https://angel.co/rakamio/jobs">
                                        <h4>Careers</h4>
                                        <p>Interested in joining us?<br><br></bt></p></a></li>
                                </ul>


                                </div>
                            </div>
                        </li>
                         <li class="menuSpecial">
                            <a href="#" class="label">Usefull</a>
                        </li>
                    </ul>

                    <div class="bg-layer" aria-hidden="true"></div>
                </div> <!-- dropdown-list -->
            </div> <!-- morph-dropdown-wrapper -->
    
        </header>


            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3 hidden-xs hidden-sm">
                <a href="/" class="logo"><img width="144" src="images/new-logo.svg"/></a>
            </div>
            <div class=" col-md-7 col-lg-6 hidden-xs hidden-sm"></div>
            <div class=" col-md-3 col-lg-3 hidden-xs hidden-sm sign" style="margin-top: 8px;">
                 <a href="https://app.rakam.io" class="login"><button class="btn-md s-button-o">Sign Up</button></a>
                 <a href="https://app.rakam.io/register" class="login"><button class="btn-md s-button-o">Sign In</button></a>
            </div>
          

    </div>


    <div class="row box">
        <div class="col-xs-12 col-sm-5 col-lg-5">
            <h1>Rakam API</h1>
            <p> 
                It's your analytics backend.
                Setup Rakam API with just one click
                and power your business intelligence.
            </p>
            <a href="#">Try It Free</a>
        </div>
        <div class="hidden-xs col-sm-7 col-lg-7">
            <img src="../images/Illustration.png" alt="">
        </div>
    </div>
</section>

<section class="container" id="api_oneClick">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <ul>
                <li>
                    <img src="images/endpoint@3x.svg" alt="">
                    <p>Rich analytical features with more than 100 endpoints.</p>
                </li>
                <li>
                    <img src="images/scale@3x.svg" alt="">
                    <p>Designed to handle your event data at any scale.</p>
                </li>
                <li>
                    <img src="images/click.svg" alt="">
                    <p>One-Click installation to DO AWS, Heroku, and Docker</p>
                </li>
                <li>
                    <img src="images/icon@3x.svg" alt="">
                    <p>It's modular, develop custom modules when you need.</p>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7">
            <h2 class="col-lg-12">
                One-Click<br>
                Analytics Backend
            </h2>
            <p class="col-lg-10">Rakam API is an open-source analytics backend with more then 100 endpoints. It exposes a RESTFul API with more than 100 endpoints for both collecting and analyzing data.</p>
            <p class="col-lg-10">We use Swagger for defining API endpoints so Rakam API can be integrated into your current infrastructure. You can also develop custom modules and implement new endpoints and features depending on your needs.</p>
            <p class="col-lg-10">You can directly connect your Rakam API via RESTFul API or Rakam API client library for your favorite programming language. Our SDKs are also built on top of Rakam API so you can easily set your Rakam API and send your data directly to your Rakam API Cluster.</p>
        </div>
    </div>
</section>

<section class="container" id="api_fastAndScalable">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 box_pl">
                <h2>Fast and scalable</h2>
                <p>A single Rakam API server can handle more than 50K events concurrently, it's based on Java 8, Netty and Jackson. We use our custom JSON parsers in order to use lower memory footprint and CPU, Netty allows us to handle thousands of requests concurrently without any problem. You can also scale your Rakam API by adding new nodes to the cluster, we provide extra tools for scaling your Rakam API cluster using your favorite cloud provider.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img src="images/macbook.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="hidden-xs col-sm-6 col-md-6 col-lg-6 ta_c">
                <img src="images/macbook2.png" alt="">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 box_pr">
                <h2>Rich Query API</h2>
                <p>We provide you the most common analysis features required for an analytics service. Event analytics is easy with event explorer and real-time features and behavioral analytics queries can be run via funnel and retention features. 
                You can also run SQL queries via Query API, integrate your custom databases and remote files and merge data to build your own reports.
                <br> 
                Since Rakam stores the raw data, we provide some some features to be able to create summary tables, OLAP cubes, stream processing rule for pre-aggregating the data and accessing the the data faster.</p>
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg col-md-6 col-lg-6 ta_c">
                <img src="images/macbook2.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="container" id="api_sql">
    <div class="row box">
        <div class="col-xs-12">
            <div class="row">
                <h2 class="col-xs-12">Embedded SQL</h2>
                <p class="col-xs-12 col-sm-7">Did our Facebook ADS campaign worked well enough to increase our revenue? SQL</p>
            </div>
        </div>
    </div>

    <div class="row box">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 cm-s-material">
            <div>
                <ol>
                    <li>
                        <div style="position: relative;">
                            <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"><span
                                    class="cm-keyword">SELECT</span> total_order_amount / fb.spent_amount_total <span
                                    class="cm-keyword">AS</span> revenue_ads_ratio <span class="cm-keyword">FROM</span> (</span></pre>
                        </div>
                    </li>
                    
                    <li>
                        <div style="position: relative;">
                            <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"><span
                                    class="cm-keyword">SELECT</span> <span class="cm-builtin">cast</span>(_time <span
                                    class="cm-keyword">AS</span> <span class="cm-keyword">date</span>) day, <span
                                    class="cm-builtin">sum</span>(total_amount) <span class="cm-keyword">AS</span> total_order_amount <span
                                    class="cm-keyword">FROM</span> (</span></pre>
                        </div>
                    </li>
                    
                    <li>
                        <div style="position: relative;">
                            <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"><span 
                                    class="cm-keyword">SELECT</span> _user, total_amount <span
                                    class="cm-keyword">FROM</span> <span
                                    class="link sdk-hover hint--bounce hint--top"
                                    data-hint="access your event data-set that you collected via sdk or restful api">collection.transaction</span></span></pre>
                        </div>
                    </li>
                    
                    <li>
                        <div style="position: relative;">
                            <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"><span
                                    class="cm-keyword">JOIN</span> <span class="link hint--bounce hint--top"
                                                                         data-hint="connect your remote databases at query time">mysqldb.users</span> <span
                                    class="cm-keyword">ON</span> (users.id = transaction._user)</span></pre>
                        </div>
                    </li>

                    <li>
                        <div style="position: relative;">
                            <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"><span
                                    class="cm-keyword">UNION</span> <span class="cm-keyword">ALL</span> <span
                                    class="cm-keyword">SELECT</span> user_id, total_amount <span class="cm-keyword">FROM</span> <span
                                    class="link hint--bounce hint--top"
                                    data-hint="plug your remote CSV or JSON files as virtual tables">remotefile.offlinesales</span></span></pre>
                        </div>
                    </li>

                    <li>
                        <div style="position: relative;">
                            <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;">) <span
                                    class="cm-keyword">WHERE</span> _user <span class="cm-keyword">IN</span> (<span
                                    class="cm-keyword">SELECT</span> user_id <span class="cm-keyword">FROM</span> <span
                                    class="link hint--bounce hint--top"
                                    data-hint="create your flow with materialized views and continuous queries">materialized.gold_users</span> <span
                                    class="cm-keyword">WHERE</span> <span
                                    class="link hint--bounce hint--top" data-hint="enrich your events with event mappers">clearbit_job = <span
                                    class="cm-string">'Doctor'</span></span>)</span></pre>
                        </div>
                    </li>

                    <li>
                        <div style="position: relative;">
                            <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;">) orders <span
                                    class="cm-keyword">JOIN</span> <span class="link hint--bounce hint--top"
                                                                         data-hint="collect data from third-party services with webhook and and scheduled tasks">fb_advertisement</span> fb <span
                                    class="cm-keyword">ON</span> (orders.day = fb.day)</span></pre>
                        </div>
                    </li>

                </ol>
                <div>
                    <a href="#">
                        <div class="demo">
                            visit demo
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row box">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <div class="row">
                <h3 class="col-lg-12">Customizable ETL</h3>
                <p class="col-lg-10">The ETL process in Rakam API is completely transparent. We have both native and custom event mappers, you can write modules that implements native event mappers in Java for stateful and fast ETL tasks and inject it to your Rakam API event collection process.
        However writing Java modules are not an easy task so we have custom event mappers with Javascript embedded in Rakam. You can basically write Javascript mappers and let Rakam to invoke them when a new event arrives. They may enrich your event data or sanitize bad inputs, it's up to you.</p>

                <h3 class="col-lg-12" style="line-height: 1.33; margin-top: 57px;">Collect data from anywhere</h3>
                <p class="col-lg-10">Rakam is data agnostic, you can send any kind of event data-set as long as it's immutable. You can just use the SDKs in order to ingegrate your application with Rakam easily or use the RESTFul API. We also provice embedded scheduled tasks, webhooks and some high level features for you to collect data from third party services. You can basically embed your scripts in Rakam and let it collect data for you. No cron-jobs, no manual process and no extra work after you setup the tasks. See collecting events section in documentation.</p>
            </div>
        </div>
        <div class="hidden-xs col-sm-7 col-md-7 col-lg-7">
            <div class="row">
                <img src="images/macbook3.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="container" id="api_footer">
    <div class="row box">
        <h2 class="col-xs-12 col-sm-6">Let us find the best data analytics solution for you.</h2>
        <div class="col-xs-12 col-sm-6">
            <a href="#">Contact Us</a>
        </div>
    </div>
    <div class="row box">
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <ul class="col-xs-6 col-sm-6 list-unstyled">
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="http://help.rakam.io/">Support</a></li>
                    <li><a href="/careers">Careers</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/terms">Terms & Conditions</a></li>
                </ul>
                <ul class="col-xs-6 col-sm-6 list-unstyled">
                    <li><a href="product/ui#event-explorer">Event Explorer</a></li>
                    <li><a href="product/ui#behavioral">Behavioral Queries</a></li>
                    <li><a href="product/ui#sql-editor">SQL Editor</a></li>
                    <li><a href="product/ui">User Explorer</a></li>
                    <li><a href="product/ui#dashboard">Dashboard</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="row address">
                <div class="col-xs-11 col-sm-11">
                    444 Castro st. Suite #1200<br>
                    Mountain View, CA 94041 United States
                </div>
                <div style="float: right;">
                    <img src="images/pin.svg" alt="">
                </div>
            </div>
            <ul class="socials list-inline row">
                <li>
                    <a href="https://facebook.com/rakam.io/"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/iorakam"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://github.com/rakam-io/rakam"><i class="fa fa-github"></i></a>
                </li>
                <li>
                    <a href="https://blog.rakam.io/"><i class="fa fa-medium"></i></a>
                </li>
            </ul> 
        </div>
    </div>
    <div class="row box copy">© 2017  Copyrigts Rakam</div>
</section>
