<div class="blue-header bg-sand">
    <div class="container">
        <div ng-include src="'views/includes/header.html'"></div>
        <div class="">
            <div class="row middle middle-block">
             
                <p class="subtitle text-center">Rakam UI</p>

                <p class="subcontent text-center">It's your BI tool. Connect your Rakam API and create your custom analytics service that powers your company's BI.  </p>
                <div class=" pt-40 pb-40">
                    <div class="hidden-xs hidden-sm">
                        <div class="text-center try-area">
                            <a href="#" class="try-button"><button  class="btn-lg s-button color-sand">Try It Free</button></a>
                        </div>
                    </div>
                    <div class="hidden-md hidden-lg">
                        <div class="pt-10">
                            <div class="text-center try-area">
                                <a href="https://app.rakam.io/login?project_name=orsan_parca&api_url=https://app.rakam.io&action&email=local@demo.com&password=demoAccount1&utm_source=land_bi" class="try-button p0"><button  class="btn-sm s-button">Try It Free</button></a>
                            </div>

                        </div>
                    </div>
                </div>
        
            </div>
         </div>
    
    </div>

 </div>

<div class="container">
      <div class=" pt-40 pb-40 clearfix">
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
           <h1 class="color-sand-wh">Advanced BI for Rakam API</h1>
           <p>Rakam UI is the frontend of your Rakam API, it connects your Rakam API and visualize the data for you. It allows you to run event explorer, funnel, retention queries on your event data-set collected via Rakam API and also allows you to create custom reports, dashboards with advanced SQL editor and simple query builder interface.</p>
       <p >You can create your custom analytics service without writing any single code with Rakam UI. The developers and analytsts can create custom reports and dashboards and share them with the teams in your company.</p><p>We take security seriously. Rakam UI doesn't actually have accesss to your Rakam APIs, your browser executes the AJAX requests directly on your Rakam API. Rakam UI can only store metadata of your reports, not your data.</p></div>
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
           <img src="/images/custom.png" width="100%">
       </div>
     </div>

     <div class="clearfix pb-30">
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4 class="color-sand-wh"><i class="fa fa-rocket i-circle pull-left bg-sand"></i>
                    <span class="lh-60">Simple and powerful business intelligence</span>
               </h4 >
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4 class="color-sand-wh"><i class="fa fa-battery-4 i-circle pull-left bg-sand"></i>
                    <span class="lh-60">Advanced visualization techniques</span>
               </h4>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4 class="color-sand-wh"><i class="fa fa-lock i-circle pull-left bg-sand"></i>
                    <span class="lh-60">Security is not a feature, it's state of mind</span>
               </h4>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4 class="color-sand-wh"><i class="fa fa-expand i-circle pull-left bg-sand"></i>
                    <span class="lh-60">Customize for your needs, it's flexible</span>
               </h4>
         </div>

     </div>


     <div class="clearfix pb-30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="color-sand-wh">Security is not a feature, it's state of mind.</h1>
            <p>Rakam UI is not just a website, it works as an application. Your Rakam API may be behind a firewall or even your localhost, You can use Rakam UI if your computer is able to connect your Rakam API but it't not accessible from outside because Rakam UI uses your browser to connect Rakam API via AJAX requests. It just stores metadata of your reports, not data.</p>
        </div>
     </div>

</div>

<div class="container-fluid ss-area">



    <h2>Event Analytics</h2>

    <div class="container clearfix pt-20 pb-20">
        <div class="row table-row">
        
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 image-col">
                 <img src="images/event-explorer.png" width="100%"/>
            </div>
        
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 custom">
                <h1>Event Explorer</h1>
                <p>Analyze your events in realtime with a simple interface.</p>
                <div class="icon">
                <i class="fa fa-hand-o-up"></i>
                </div>
            </div>
        </div>
    </div>


    <h2>Business Intelligence</h2>

    <div class="container clearfix pt-20 pb-20">
        <div class="row table-row">

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 custom">
                <h1>Dashboard</h1>
                <p>Create custom dashboards from your saved reports, you can customize the layout and the charts as you wish and get the summary of your reports in one picture.</p>
                <div class="icon">
                    <i class="fa fa-th"></i>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 image-col">
                <img src="images/dashboard.png" width="100%"/>
            </div>


        </div>
    </div>

    <div class="container clearfix pt-20 pb-20">
        <div class="row table-row">
        
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 custom">
                    <h1>SQL Editor</h1>
                    <p>Run ANSI SQL queries on your event data-set, plug your external databases and remote files, integrate it with third-party services such as Facebook Ads and Intercom.io and join the data via SQL.</p>
                    <div class="icon">
                      <i class="fa fa-code"></i>
                    </div>
            </div>
        
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 image-col">
                 <img src="images/sql-editor.png" width="100%"/>
            </div>
        
        </div>
    </div>



    <div class="container clearfix pt-20 pb-20">
        <div class="row table-row">

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 custom">
                <h1>Query Builder</h1>
                <p>You don't always need to write complex SQL queries, in that case just use your simple query builder interface.</p>
                <div class="icon">
                <i class="fa fa-question"></i>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 image-col">
                 <img src="images/query-builder.png" width="100%"/>
            </div>


        </div>
    </div>



    <h2>Behavioral Analytics</h2>


    <div class="container clearfix pt-20 pb-20">
        <div class="row table-row">

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 image-col">
                <img src="images/funnel.png" width="100%"/>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 custom">
                <h1>Funnels</h1>
                <p>Create funnels from user actions and understand how your users use your product.</p>
                <div class="icon">
                    <i class="fa fa-filter"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="container clearfix pt-20 pb-20">
        <div class="row table-row">
        
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 image-col">
                 <img src="images/retention.png" width="100%"/>
            </div>
        
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 custom">
                <h1>Cohorts</h1>
                <p>Generate cohorts in order to understand how ofter your users use your product and find the potential problems in your product</p>
                <div class="icon">
                <i class="fa fa-magnet"></i>
                </div>
            </div>
        </div>
    </div>



    <hr>


    <div class="container clearfix pt-20 pb-20">
        <div class="row table-row">
        
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 custom">
                <h1>Recipes</h1>
                <p>Recipes are pre-build reports and dashboards. We can provide you pre-built dashboards and reports for your industry so that you can start fast and customize it your your needs.</p>
                <div class="icon">
                <i class="fa fa-blind"></i>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 image-col">
                 <img src="images/report.png" width="100%"/>
            </div>
        

        </div>
    </div>



</div>

<div class="container pt-40">
    <div class="pt-40 pb-40 clearfix integrate-area">
        <div class="col-md-6">
            <h2 style="color:#ffffff">Integrate in seconds, Free signup.</h2>
        </div>
        <div class="col-md-6 text-center">
            <div class="vercital-middle">
             <a href="http://app.rakam.io/register"><button class="s-button">Get started now!</button>
            </div>
        </div>

    </div>

 </div>



<!--

     <div class="clearfix pb-30">
         <div class="col-xs-12 col-sm-12 col-md-6">
             <div class="middle text-center">
                 <h1> Event explorer</h1>
                 <p>Analyze your events in realtime with a simple interface.</p>
             </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6">
             <img src="images/event-explorer.png" width="100%"/>
         </div>

     </div>-->