<div class="blue-header bg-soir">
    <div class="container">
        <div ng-include src="'views/includes/header.html'"></div>
        <div class="">
            <div class="row middle middle-block">
             
                <p class="subtitle text-center">Rakam API</p>

                <p class="subcontent text-center">It's your analytics backend, setup Rakam API with just one click and power your business intelligence.</p>
                <div class=" pt-40 pb-40">
                    <div class="hidden-xs hidden-sm">
                        <div class="text-center try-area">
                            <a href="#" class="try-button"><button  class="btn-lg s-button">Try It Free</button></a>
                        </div>
                    </div>
                    <div class="hidden-md hidden-lg">
                        <div class="pt-10">
                            <div class="text-center try-area">
                                <a href="https://github.com/rakam-io/rakam" class="try-button p0"><button  class="btn-sm s-button">Deploy Rakam</button></a>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
         </div>
    
    </div>

 </div>
 <div class="container">
     <div class=" pt-40 pb-40 clearfix">
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
           <h1>One-click analytics backend</h1>
           <p>Rakam API is an open-source analytics backend with more then <a href="http://api.rakam.io/" target="_blank">100 endpoints</a>. It exposes a RESTFul API with more than 100 endpoints for both collecting and analyzing data.</p>
           <p>We use <a href="http://petstore.swagger.io/?url=http://app.rakam.io/api/swagger.json" target="_blank">Swagger</a> for defining API endpoints so Rakam API can be integrated into your current infrastructure. You can also develop custom modules and implement new endpoints and features depending on your needs.</p><p>You can directly connect your Rakam API via RESTFul API or Rakam API client library for your favorite programming language. Our SDKs are also built on top of Rakam API so you can easily set your Rakam API and send your data directly to your Rakam API Cluster.</p></div>
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
           <img src="/images/api_img.png" width="100%">
       </div>
     </div>

     <div class="clearfix pb-30">
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4><i class="fa fa-rocket i-circle pull-left"></i>
                    <span class="lh-30">Rich analytical features with more than 100 endpoints</span>
               </h4>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4><i class="fa fa-rocket i-circle pull-left"></i>
                    <span class="lh-30">One-click installation to AWS, Heroku, DO and Docker</span>
               </h4>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4><i class="fa fa-rocket i-circle pull-left"></i>
                    <span class="lh-30">Designed to handle event data concurrently at any scale.</span>
               </h4>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4><i class="fa fa-rocket i-circle pull-left"></i>
                    <span class="lh-30">It's modular, develop custom modules and customize the API.</span>
               </h4>
         </div>

     </div>


     <div class="clearfix pb-30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Fast and scalable</h1>
            <p>A single Rakam API server can handle more than 50K events concurrently, it's based on Java 8, Netty and Jackson. We use our custom JSON parsers in order to use lower memory footprint and CPU, Netty allows us to handle thousands of requests concurrently without any problem. You can also scale your Rakam API by adding new nodes to the cluster, we provide extra tools for scaling your Rakam API cluster using your favorite cloud provider.</p>
        </div>
     </div>


     <div class="clearfix pb-30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Rich query API</h1>
            <p>We provide</p>
        </div>
     </div>

     <div class="clearfix pb-30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cm-s-material">
            <h1>Embedded SQL</h1>

            <h3>Did our Facebook ADS
                campaign worked well enough to increase our revenue?</h3>
            <div style="background: #374355; padding: 10px; border-radius: 2px;">
                <div style="position: relative;">
                    <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"><span
                            class="cm-keyword">SELECT</span> total_order_amount / fb.spent_amount_total <span
                            class="cm-keyword">AS</span> revenue_ads_ratio <span class="cm-keyword">FROM</span> (</span></pre>
                </div>
                <div style="position: relative;">
                    <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"><span class="cm-tab"
                                                                                             role="presentation">    </span><span
                            class="cm-keyword">SELECT</span> <span class="cm-builtin">cast</span>(_time <span
                            class="cm-keyword">AS</span> <span class="cm-keyword">date</span>) day, <span
                            class="cm-builtin">sum</span>(total_amount) <span class="cm-keyword">AS</span> total_order_amount <span
                            class="cm-keyword">FROM</span> (</span></pre>
                </div>
                <div class="show-on-hover">
                    <div style="position: relative;">
                        <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"><span class="cm-tab"
                                                                                                 role="presentation">    </span><span
                                class="cm-tab" role="presentation" cm-text="	">    </span><span class="cm-keyword">SELECT</span> _user, total_amount <span
                                class="cm-keyword">FROM</span> <span
                                class="link sdk-hover hint--bounce hint--top"
                                data-hint="access your event data-set that you collected via sdk or restful api">collection.transaction</span></span></pre>
                    </div>
                    <div style="position: relative;">
                        <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"> &nbsp; &nbsp; &nbsp;  &nbsp;  <span
                                class="cm-keyword">JOIN</span> <span class="link hint--bounce hint--top"
                                                                     data-hint="connect your remote databases at query time">mysqldb.users</span> <span
                                class="cm-keyword">ON</span> (users.id = transaction._user)</span></pre>
                    </div>
                </div>
                <div style="position: relative;">
                    <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"> &nbsp; &nbsp; &nbsp; <span
                            class="cm-keyword">UNION</span> <span class="cm-keyword">ALL</span> <span
                            class="cm-keyword">SELECT</span> user_id, total_amount <span class="cm-keyword">FROM</span> <span
                            class="link hint--bounce hint--top"
                            data-hint="plug your remote CSV or JSON files as virtual tables">remotefile.offlinesales</span></span></pre>
                </div>
                <div style="position: relative;">
                    <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"> &nbsp; &nbsp;) <span
                            class="cm-keyword">WHERE</span> _user <span class="cm-keyword">IN</span> (<span
                            class="cm-keyword">SELECT</span> user_id <span class="cm-keyword">FROM</span> <span
                            class="link hint--bounce hint--top"
                            data-hint="create your flow with materialized views and continuous queries">materialized.gold_users</span> <span
                            class="cm-keyword">WHERE</span> <span
                            class="link hint--bounce hint--top" data-hint="enrich your events with event mappers">clearbit_job = <span
                            class="cm-string">'Doctor'</span></span>)</span></pre>
                </div>
                <div style="position: relative;">
                    <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;">) orders <span
                            class="cm-keyword">JOIN</span> <span class="link hint--bounce hint--top"
                                                                 data-hint="collect data from third-party services with webhook and and scheduled tasks">fb_advertisement</span> fb <span
                            class="cm-keyword">ON</span> (orders.day = fb.day)</span></pre>
                </div>
            </div>
        </div>
     </div>

    <div class="pt-40 pb-40 clearfix integrate-area">
        <div class="col-md-6">
            <h2 style="color:#ffffff">Integrate in seconds, Free signup.</h2>
        </div>
        <div class="col-md-6 text-center">
            <div class="vercital-middle">
             <a href="http://app.rakam.io/register"><button class="s-button">Get started now!</button>
            </div>
        </div>

    </div>
 </div>

