<div class="blue-header bg-soir ">
    <div class="container">
        <div ng-include src="'views/includes/header.html'"></div>
        <div class="">
            <div class="row middle middle-block">
             
                <p class="subtitle text-center">Rakam Pre-Built Analytics</p>

                <p class="subcontent text-center">We're aware that creating your own reports is not an easy task, don't waste your time at start. </p>
                <div class=" pt-40 pb-40">
                    <div class="hidden-xs hidden-sm">
                        <div class="text-center try-area">
                            <a href="#" class="try-button"><button class="btn-lg s-button color-soir">Try It Free</button></a>
                        </div>
                    </div>
                    <div class="hidden-md hidden-lg">
                        <div class="pt-10">
                            <div class="text-center try-area">

                                <a href="https://app.rakam.io/login?project_name=orsan_parca&api_url=https://app.rakam.io&action&email=local@demo.com&password=demoAccount1&utm_source=land_prebuilt" class="try-button p0"><button  class="btn-sm s-button">Try It Free</button></a>

                            </div>

                        </div>
                    </div>
                </div>
        
            </div>
         </div>
    
    </div>

 </div>
 <div class="container">
     <div class=" pt-40 pb-40 clearfix">
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
           <h1 class="color-soir-wh">Start easy, extend when you need</h1>
           <p>If you're in a specific industry, we can help you to bootstrap your analytics service with our pre-defined recipes. The pre-defined recipes turn your generic Rakam projects into real analytics services with many pre-built reports and dashboards.</p>
       <p>You can create new reports based on your needs, modify the existing one or just delete the reports and dashboard that you don't want to use. You don't need to buy service from a gaming analytics solution if you're in gaming industry or use Google Analytics for your websites. You can define your own metrics or alter the existing ones that we have defined for you. The current analytics services serve a generic purpose and you can't modify the metrics that they have defined.</p></div>
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
           <img src="/images/prebuilt.png" width="100%">
       </div>
     </div>

     <div class="clearfix pb-30">
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4 class="color-soir-wh"><i class="fa fa-rocket i-circle pull-left bg-soir"></i>
                    <span class="lh-60">Rakam Advertisement Analytics</span>
               </h4>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4 class="color-soir-wh"><i class="fa fa-rocket i-circle pull-left bg-soir"></i>
                    <span class="lh-60">Rakam website analytics</span>
               </h4>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4 class="color-soir-wh"><i class="fa fa-rocket i-circle pull-left bg-soir"></i>
                    <span class="lh-60">Rakam Gaming Analytics <span style="opacity:.6;font-size:12px">(Coming soon)</span></span>
               </h4>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4 class="color-soir-wh"><i class="fa fa-rocket i-circle pull-left bg-soir"></i>
                    <span class="lh-60">Rakam mobile analytics <span style="opacity:.6;font-size:12px">(Coming soon)</span></span>
               </h4>
         </div>

     </div>


     <div class="clearfix pb-30">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

             <div class="ss-area ng-scope">
                 <div class="learfix pt-20 pb-20">
                     <div class="row table-row">

                         <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 custom">
                             <h1>Advertisement</h1>
                             <p>Start analyzing your ads data with our prebuilt analytics service for advertisement and SEO services. You can analyze your both real-time and historical data-sets, join them with your different data-sets and create custom reports and dashboards for your needs.</p>
                             <div class="icon">
                                 <i class="fa fa-th"></i>
                             </div>
                         </div>

                         <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 image-col">
                             <img src="/images/rakam_ads.png" width="100%">
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="clearfix pb-30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="color-soir-wh">Rakam website analytics</h1>
            <p class="color-soir-wh">Track your website activity, forms, emails and many more, all in one place with your own website analytics service. Analyze and take action right away.</p>
        </div>
     </div>



    <div class="pt-40 pb-40 clearfix integrate-area">
        <div class="col-md-6">
            <h2 style="color:#ffffff">Integrate in seconds, Free signup.</h2>
        </div>
        <div class="col-md-6 text-center">
            <div class="vercital-middle">
             <a href="http://rakam.io/register"><button class="s-button">Get started now!</button>
            </div>
        </div>

    </div>
 </div>
