<div class="blue-header ">
    <div class="container">
        <div ng-include src="'views/includes/header.html'"></div>
        <div class="">
            <div class="row middle middle-block">
             
                <p class="subtitle text-center">Rakam Dashboard</p>

                <p class="subcontent text-center">Create custom dashboards that uses your databases and embed them in your applications.</p>
                <div class=" pt-40 pb-40">
                    <div class="hidden-xs hidden-sm">
                        <div class="text-center try-area">
                            <a href="#" class="try-button"><button  class="btn-lg s-button">Try It Free</button></a>
                        </div>
                    </div>
                    <div class="hidden-md hidden-lg">
                        <div class="pt-10">
                            <div class="text-center try-area">
                                <a href="https://app.rakam.io/login?project_name=orsan_parca&api_url=https://app.rakam.io&action&email=local@demo.com&password=demoAccount1&utm_source=land_dboard" class="try-button p0"><button  class="btn-sm s-button">Try It Free</button></a>
                            </div>

                        </div>
                    </div>
                </div>
        
            </div>
         </div>
    
    </div>

 </div>

 <div class="container">
     <div class=" pt-40 pb-40 clearfix">
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
           <h1>Coming soon.</h1>
       </div>
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
           <img src="images/dashboard.png" width="100%"/>
       </div>
     </div>
<div style="display:none">
     <div class="clearfix pb-30">
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4><i class="fa fa-rocket i-circle pull-left"></i>
                    <span class="lh-30">Summary of your reports in one picture picture reports in one</span>
               </h4>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4><i class="fa fa-rocket i-circle pull-left"></i>
                    <span class="lh-30">Summary of your reports in one picture picture reports in one</span>
               </h4>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4><i class="fa fa-rocket i-circle pull-left"></i>
                    <span class="lh-30">Summary of your reports in one picture picture reports in one</span>
               </h4>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4><i class="fa fa-rocket i-circle pull-left"></i>
                    <span class="lh-30">Summary of your reports in one picture picture reports in one</span>
               </h4>
         </div>

     </div>


     <div class="clearfix pb-30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Lorem ipsum </h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
        </div>
     </div>
     <div class="clearfix pb-30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Lorem ipsum dolor sit amet ... </h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
        </div>
     </div>


 </div>
</div>

