<div class="blue-header ">
    <div class="container">
        <div ng-include src="'views/includes/header.html'"></div>
        <div class="">
            <div class="row middle middle-block">
             
                <p class="subtitle text-center">Rakam Pre-Built Analytics</p>

                <p class="subcontent text-center">We're aware that creating your own reports is not an easy task, don't waste your time at start. </p>
                <div class=" pt-40 pb-40">
                    <div class="hidden-xs hidden-sm">
                        <div class="text-center try-area">
                            <a href="#" class="try-button"><button class="btn-lg s-button">Try It Free</button></a>
                        </div>
                    </div>
                    <div class="hidden-md hidden-lg">
                        <div class="pt-10">
                            <div class="text-center try-area">
                                <a href="#" class="try-button p0"><button class="btn-sm s-button">Try It Free</button></a>
                            </div>

                        </div>
                    </div>
                </div>
        
            </div>
         </div>
    
    </div>

 </div>
 <div class="container">
     <div class=" pt-40 pb-40 clearfix">
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
           <h1>Start easy, extend when you need</h1>
           <p>If you're in a specific industry, we can help you to bootstrap your analytics service with our pre-defined recipes. The pre-defined recipes turn your generic Rakam projects into real analytics services with many pre-built reports and dashboards.</p>
       <p>You can create new reports based on your needs, modify the existing one or just delete the reports and dashboard that you don't want to use. You don't need to buy service from a gaming analytics solution if you're in gaming industry or use Google Analytics for your websites. You can define your own metrics or alter the existing ones that we have defined for you. The current analytics services serve a generic purpose and you can't modify the metrics that they have defined.</p></div>
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
           <img src="https://d33wubrfki0l68.cloudfront.net/7416cf2021fe4902a8388ed4072203adef4a95e2/f8499/images/empty.png" width="100%">
       </div>
     </div>

     <div class="clearfix pb-30">
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4><i class="fa fa-rocket i-circle pull-left"></i>
                    <span class="lh-30">Rakam Advertisement Analytics</span>
               </h4>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4><i class="fa fa-rocket i-circle pull-left"></i>
                    <span class="lh-30">Rakam website analytics</span>
               </h4>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4><i class="fa fa-rocket i-circle pull-left"></i>
                    <span class="lh-30">Rakam Gaming Analytics <span style="opacity:.6;font-size:12px">(Coming soon)</span></span>
               </h4>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-20 pr-30">
               <h4><i class="fa fa-rocket i-circle pull-left"></i>
                    <span class="lh-30">Rakam mobile analytics <span style="opacity:.6;font-size:12px">(Coming soon)</span></span>
               </h4>
         </div>

     </div>


     <div class="clearfix pb-30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Rakam Advertisement Analytics</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
        </div>
     </div>
     <div class="clearfix pb-30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Rakam website analytics</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
        </div>
     </div>


 </div>
