<section class="container" id="api-header">
    <div ng-include src="'views/includes/header.html'"></div>

    <div class="row box">
        <div class="col-lg-5">
            <h1>Rakam API</h1>
            <p> 
                It's your analytics backend.<br>
                Setup Rakam API with just one click<br>
                and power your business intelligence.
            </p>
            <a href="#">Try It Free</a>
        </div>
        <div class="col-lg-7">
            <img src="../images/Illustration.png" alt="">
        </div>
    </div>
</section>

<section class="container" id="api_oneClick">
    <div class="row">
        <div class="col-lg-4">
            <ul>
                <li>
                    <img src="images/endpoint@3x.svg" alt="">
                    <p>Rich analytical features with more than 100 endpoints.</p>
                </li>
                <li>
                    <img src="images/scale@3x.svg" alt="">
                    <p>Designed to handle your event data at any scale.</p>
                </li>
                <li>
                    <img src="images/click.svg" alt="">
                    <p>One-Click installation to DO AWS, Heroku, and Docker</p>
                </li>
                <li>
                    <img src="images/icon@3x.svg" alt="">
                    <p>It's modular, develop custom modules when you need.</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-offset-1 col-lg-7">
            <h2 class="col-lg-12">
                One-Click<br>
                Analytics Backend
            </h2>
            <p class="col-lg-10">Rakam API is an open-source analytics backend with more then 100 endpoints. It exposes a RESTFul API with more than 100 endpoints for both collecting and analyzing data.</p>
            <p class="col-lg-10">We use Swagger for defining API endpoints so Rakam API can be integrated into your current infrastructure. You can also develop custom modules and implement new endpoints and features depending on your needs.</p>
            <p class="col-lg-10">You can directly connect your Rakam API via RESTFul API or Rakam API client library for your favorite programming language. Our SDKs are also built on top of Rakam API so you can easily set your Rakam API and send your data directly to your Rakam API Cluster.</p>
        </div>
    </div>
</section>

<section class="container" id="api_fastAndScalable">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6 box_pl">
                <h2>Fast and scalable</h2>
                <p>A single Rakam API server can handle more than 50K events concurrently, it's based on Java 8, Netty and Jackson. We use our custom JSON parsers in order to use lower memory footprint and CPU, Netty allows us to handle thousands of requests concurrently without any problem. You can also scale your Rakam API by adding new nodes to the cluster, we provide extra tools for scaling your Rakam API cluster using your favorite cloud provider.</p>
            </div>
            <div class="col-lg-6">
                <img src="images/macbook.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <img src="images/macbook2.png" alt="">
            </div>
            <div class="col-lg-6 box_pr">
                <h2>Rich Query API</h2>
                <p>We provide you the most common analysis features required for an analytics service. Event analytics is easy with event explorer and real-time features and behavioral analytics queries can be run via funnel and retention features. 
    You can also run SQL queries via Query API, integrate your custom databases and remote files and merge data to build your own reports. 
    Since Rakam stores the raw data, we provide some some features to be able to create summary tables, OLAP cubes, stream processing rule for pre-aggregating the data and accessing the the data faster.</p>
            </div>
        </div>
    </div>
</section>

<section class="container" id="api_sql">
    <div class="row">
        <div class="col-lg-12">
            <h2>Embedded SQL</h2>
            <p>Did our Facebook ADS campaign worked well enough to increase our revenue? SQL</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cm-s-material">
            <div style="padding: 10px; border-radius: 2px; border: 1px solid;">
                <ol>
                    <li>
                        <div style="position: relative;">
                            <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"><span
                                    class="cm-keyword">SELECT</span> total_order_amount / fb.spent_amount_total <span
                                    class="cm-keyword">AS</span> revenue_ads_ratio <span class="cm-keyword">FROM</span> (</span></pre>
                        </div>
                    </li>
                    
                    <li>
                        <div style="position: relative;">
                            <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"><span
                                    class="cm-keyword">SELECT</span> <span class="cm-builtin">cast</span>(_time <span
                                    class="cm-keyword">AS</span> <span class="cm-keyword">date</span>) day, <span
                                    class="cm-builtin">sum</span>(total_amount) <span class="cm-keyword">AS</span> total_order_amount <span
                                    class="cm-keyword">FROM</span> (</span></pre>
                        </div>
                    </li>
                    
                    <li>
                        <div style="position: relative;">
                            <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"><span 
                                    class="cm-keyword">SELECT</span> _user, total_amount <span
                                    class="cm-keyword">FROM</span> <span
                                    class="link sdk-hover hint--bounce hint--top"
                                    data-hint="access your event data-set that you collected via sdk or restful api">collection.transaction</span></span></pre>
                        </div>
                    </li>
                    
                    <li>
                        <div style="position: relative;">
                            <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"><span
                                    class="cm-keyword">JOIN</span> <span class="link hint--bounce hint--top"
                                                                         data-hint="connect your remote databases at query time">mysqldb.users</span> <span
                                    class="cm-keyword">ON</span> (users.id = transaction._user)</span></pre>
                        </div>
                    </li>

                    <li>
                        <div style="position: relative;">
                            <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"><span
                                    class="cm-keyword">UNION</span> <span class="cm-keyword">ALL</span> <span
                                    class="cm-keyword">SELECT</span> user_id, total_amount <span class="cm-keyword">FROM</span> <span
                                    class="link hint--bounce hint--top"
                                    data-hint="plug your remote CSV or JSON files as virtual tables">remotefile.offlinesales</span></span></pre>
                        </div>
                    </li>

                    <li>
                        <div style="position: relative;">
                            <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;">) <span
                                    class="cm-keyword">WHERE</span> _user <span class="cm-keyword">IN</span> (<span
                                    class="cm-keyword">SELECT</span> user_id <span class="cm-keyword">FROM</span> <span
                                    class="link hint--bounce hint--top"
                                    data-hint="create your flow with materialized views and continuous queries">materialized.gold_users</span> <span
                                    class="cm-keyword">WHERE</span> <span
                                    class="link hint--bounce hint--top" data-hint="enrich your events with event mappers">clearbit_job = <span
                                    class="cm-string">'Doctor'</span></span>)</span></pre>
                        </div>
                    </li>

                    <li>
                        <div style="position: relative;">
                            <pre class=" CodeMirror-line "><span style="padding-right: 0.1px;">) orders <span
                                    class="cm-keyword">JOIN</span> <span class="link hint--bounce hint--top"
                                                                         data-hint="collect data from third-party services with webhook and and scheduled tasks">fb_advertisement</span> fb <span
                                    class="cm-keyword">ON</span> (orders.day = fb.day)</span></pre>
                        </div>
                    </li>

                </ol>
            </div>
        </div>
    </div>

    <div class="row">
        <h2 class="col-lg-12">Customizable ETL</h2>
        <p class="col-lg-4">The ETL process in Rakam API is completely transparent. We have both native and custom event mappers, you can write modules that implements native event mappers in Java for stateful and fast ETL tasks and inject it to your Rakam API event collection process.
However writing Java modules are not an easy task so we have custom event mappers with Javascript embedded in Rakam. You can basically write Javascript mappers and let Rakam to invoke them when a new event arrives. They may enrich your event data or sanitize bad inputs, it's up to you.</p>
    </div>

    <div class="row">
        <h2 class="col-lg-12">Collect data from anywhere</h2>
        <p class="col-lg-4">Rakam is data agnostic, you can send any kind of event data-set as long as it's immutable. You can just use the SDKs in order to ingegrate your application with Rakam easily or use the RESTFul API. We also provice embedded scheduled tasks, webhooks and some high level features for you to collect data from third party services. You can basically embed your scripts in Rakam and let it collect data for you. No cron-jobs, no manual process and no extra work after you setup the tasks. See collecting events section in documentation.</p>
    </div>
</section>

