{{ partial "header.html" . }}

<section class="container-fluid" id="api_header">
    <div class="container">
        {{ partial "new-header-product.html" . }}

        <div class="row box">
            <div class="col-xs-12 col-sm-5 col-lg-5" style="padding-top:140px">
                <h1>Rakam API</h1>
                <p>
                    This is your company-wide data and analytics platform. Easy to install, addictive to use.
                </p>
                <a href="http://rakam.io/demo">Try It Free</a>
            </div>
            <div class="hidden-xs col-sm-7 col-lg-7">
                <img src="{{ .Site.BaseURL }}images/Illustration.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="container" id="api_oneClick">
    <div class="row box">
        <div>
            <ul class="nav nav-tabs">

                <li class="uib-tab nav-item" index="0" heading="Rich analytical features with more than 60 endpoints">
                    <a class="nav-link">Rich analytical features with more than 60 endpoints</a>
                </li>

                <li class="uib-tab nav-item" index="1" heading="Designed to handle your event-data at any scale">
                    <a class="nav-link">Designed to handle your event-data at any scale</a>
                </li>

                <li class="uib-tab nav-item" index="2" heading="One-click installers to your cloud provider">
                    <a class="nav-link">One-click installers to your cloud provider</a>
                </li>

                <li class="uib-tab nav-item active" index="3" heading="Customizable, it scales with your company">
                    <a class="nav-link">Customizable, it scales with your company</a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane">

                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 box_1">
                        <h3>Rich analytical features</h3>
                        <p>Rakam API is a RESTFul API with more than 60 endpoints. You send your data, integrate your
                            data sources using this API and you will also be using this API in order to analyze your
                            data and run SQL queries. We use Swagger as API framework and provide both mobile and web
                            SDKs for you to integrate Rakam into your applications.</p>
                    </div>
                    <div class="hidden-xs col-sm-3">
                        <img src="https://d33wubrfki0l68.cloudfront.net/7f36658aefa67ee1df1dd8565dd1d4b1775eed1c/39bab/images/api1.svg"
                             alt="">
                    </div>
                </div>
                <div class="tab-pane">

                    <div class="col-xs-12 col-sm-9 col-sm-offset-1 box_2">
                        <h3>Designed to handle your event-data at any scale</h3>
                        <p>It's developed in Java 8 and Javascript V8 and designed for big-data. A simple 2GB server can
                            handle +10K events per second, our customers process more than 30B events monthly with Rakam
                            API</p>
                    </div>
                    <div class="hidden-xs col-sm-3">
                        <img src="https://d33wubrfki0l68.cloudfront.net/ba5d1f55787f306b3164f4f4a87bd0021879dd3c/fa9cd/images/api2.svg"
                             alt="">
                    </div>
                </div>
                <div class="tab-pane">

                    <div class="col-xs-12 col-sm-9 col-sm-offset-1 box_3">
                        <h3>One-click installers to your cloud provider</h3>
                        <p>We also provide one click installers to cloud providers such as AWS, Heroku, Digitalocean.
                            They take care of load balancing and help you deployment and scaling the cluster. You don’t
                            need a data engineer.</p>
                    </div>
                    <div class="hidden-xs col-sm-3">
                        <img src="https://d33wubrfki0l68.cloudfront.net/fd50c6fa6a5db6b9ddc46aac92e940128d7179f6/b1233/images/api3.svg"
                             alt="">
                    </div>
                </div>
                <div class="tab-pane active">

                    <div class="col-xs-12 col-sm-9 col-sm-offset-1 box_4">
                        <h3>Customizable, it scales with your company</h3>
                        <p>We’re aware that your analytics needs change when your company grows but your analytics
                            services doesn’t grow with your company and in fact, that’s why we created Rakam. You can
                            enrich your data with your custom logic, create your own modules and build your own
                            solutions such as recommendation, fraud detection using the data collected via Rakam.</p>
                    </div>
                    <div class="hidden-xs col-sm-2">
                        <img src="https://d33wubrfki0l68.cloudfront.net/e572cf0d7f41f804e88140d3031559138c7a9325/df952/images/api4.svg"
                             alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="container-fluid" id="api_fastAndScalable">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="row">
                    <h2>How it works?</h2>

                    <img src="{{ .Site.BaseURL }}images/rakam_api_presto_diagram.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid" id="api_sql">
    <div class="container">

        <div class="row box">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="height:400px" id="code-demo"></div>
        </div>

        <div class="row box">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <h3 class="col-lg-12">Customizable ETL</h3>
                    <p class="col-lg-11">The ETL process in Rakam API is completely transparent. We have both native and
                        custom event mappers, you can write modules that implements native event mappers in Java for
                        stateful and fast ETL tasks and inject it to your Rakam API event collection process.<br>
                        However writing Java <a
                                href="https://docs.rakam.io/v1.0/docs/modules#section-developing-module-for-rakam"
                                style="color: white; text-decoration-line: underline;">modules</a> are not an easy task
                        so we have custom event mappers with Javascript embedded in Rakam. You can basically write
                        Javascript mappers and let Rakam to invoke them when a new event arrives. They may enrich your
                        event data or sanitize bad inputs, it's up to you.<br><br>

                        In fact, in most cases you won't need to write event mappers because Rakam provides a set of
                        event mappers for different use-cases. However, it's important for us to provide you the ways to
                        enrich and sanitize your event data so that you can embed your event pipeline inside Rakam
                        without hassle.<br>
                        See <a href="https://docs.rakam.io/v1.0/docs/event-enrichment#section-event-mappers"
                               style="color: white; text-decoration-line: underline;">event mappers</a> section in
                        documentation.</p>

                    <h3 class="col-lg-12" style="line-height: 1.33; margin-top: 57px;">Collect Data from Anywhere</h3>
                    <p class="col-lg-11">Rakam is data agnostic, you can send any kind of event data-set as long as it's
                        immutable. You can just use the SDKs in order to ingegrate your application with Rakam easily or
                        use the RESTFul API. You can basically embed your scripts in Rakam and let it collect data for
                        you.<br> See <a href="https://docs.rakam.io/v1.0/docs/collect-data"
                                        style="color: white; text-decoration-line: underline;">collecting events</a>
                        section in documentation.</p>
                </div>
            </div>
            <div class="hidden-xs col-sm-6 col-md-6 col-lg-6" style="text-align: center;">
                <div class="row">
                    <img src="{{ .Site.BaseURL }}images/macbook3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glorious/demo/dist/gdemo.min.css">
<script src="https://cdn.jsdelivr.net/npm/@glorious/demo/dist/gdemo.min.js"></script>
<script>
  var makeActiveVisualization = function (idx) {
    $('#api_oneClick .uib-tab').removeClass('active')
    $('#api_oneClick .uib-tab:eq(' + idx + ')').addClass('active')
    $('#api_oneClick .tab-pane').removeClass('active')
    $('#api_oneClick .tab-pane:eq(' + idx + ')').addClass('active')
  }

  $('#api_oneClick .uib-tab').click(function (e) {
    makeActiveVisualization($(e.target).parent().index())
  })

  var demo = new GDemo('#code-demo')

  var code = 'SELECT total_order_amount / fb.spent_amount_total AS revenue_ads_ratio FROM (\n' +
    '                SELECT cast(_time AS date) day, sum(total_amount) AS total_order_amount FROM (\n' +
    '                SELECT _user, total_amount FROM collection.transaction\n' +
    '                JOIN mysqldb.users ON (users.id = transaction._user)\n' +
    '                UNION ALL SELECT user_id, total_amount FROM remotefile.offlinesales\n' +
    '                ) WHERE _user IN (SELECT user_id FROM materialized.gold_users WHERE clearbit_job = \'Doctor\')\n' +
    '                ) orders JOIN fb_advertisement fb ON (orders.day = fb.day)'

  demo
    .openApp('terminal', {minHeight: '200px', promptString: '$'})
    .command('curl ')
    .respond('{"success": true}')
    .command('', {onCompleteDelay: 2000})
    .openApp('editor', {minHeight: '200px', windowTitle: 'Rakam Intelligence'})
    .write(code, {onCompleteDelay: 2000})
    .end()

</script>

{{ partial "new-footer-product.html" . }}
