{{ partial "header.html" . }}

<section class="container-fluid" id="api_header">
    <div class="container">
        {{ partial "new-header-product.html" . }}

        <div class="row box">
            <div class="col-xs-12 col-sm-5 col-lg-5" style="padding-top:140px">
                <h1>Rakam API</h1>
                <p>
                    This is your company-wide data and analytics platform. Easy to install, addictive to use.
                </p>
                <a href="http://rakam.io/demo">Try It Free</a>
                <a style="margin-top:10px" href="http://rakam.io/pricing/api">See pricing</a>
            </div>
            <div class="hidden-xs col-sm-7 col-lg-7 text-right">
                <img src="{{ .Site.BaseURL }}images/product/api/rakam-api-vector.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="container" id="api_oneClick">
    <div class="row box">
        <div>
            <ul class="nav nav-tabs">

                <li class="uib-tab nav-item" index="0" heading="Rich analytical features with more than 60 endpoints">
                    <a class="nav-link">Collect data from multiple platforms via SDKs and RESTFul API</a>
                </li>

                <li class="uib-tab nav-item" index="1" heading="Designed to handle your event-data at any scale">
                    <a class="nav-link">Designed to handle your event-data at any scale</a>
                </li>

                <li class="uib-tab nav-item" index="2" heading="One-click installers to your cloud provider">
                    <a class="nav-link">One-click installers to your cloud provider</a>
                </li>

                <li class="uib-tab nav-item active" index="3" heading="Customizable, it scales with your company">
                    <a class="nav-link">Customizable, it scales with your company</a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane clearfix">

                    <div class="col-xs-12 col-sm-8 col-sm-offset-1 box_1">
                        <h3>Rich analytical features</h3>
                        <p>Rakam API is a RESTFul API with more than 60 endpoints. You send your data, integrate your
                            data sources using this API and you will also be using this API in order to analyze your
                            data and run SQL queries. We use Swagger as API framework and provide both mobile and web
                            SDKs for you to integrate Rakam into your applications.</p>
                    </div>
                    <div class="hidden-xs col-sm-2">
                        <img src="{{ .Site.BaseURL }}images/product/api/api1.svg"
                             alt="">
                    </div>
                </div>
                <div class="tab-pane clearfix">

                    <div class="col-xs-12 col-sm-8 col-sm-offset-1 box_2">
                        <h3>Designed to handle your event-data at any scale</h3>
                        <p>It's developed in Java 8 and Javascript V8 and designed for big-data. A simple 2GB server can
                            handle +10K events per second, our customers process 50B+ events monthly with Rakam
                            API</p>
                    </div>
                    <div class="hidden-xs col-sm-2">
                        <img src="{{ .Site.BaseURL }}images/product/api/api2.svg"
                             alt="">
                    </div>
                </div>
                <div class="tab-pane clearfix">

                    <div class="col-xs-12 col-sm-8 col-sm-offset-1 box_3">
                        <h3>One-click installers to your cloud provider</h3>
                        <p>We also provide one click installers to cloud providers such as AWS, Heroku, Digitalocean.
                            They take care of load balancing and help you deployment and scaling the cluster. You don’t
                            need a data engineer.</p>
                    </div>
                    <div class="hidden-xs col-sm-2">
                        <img src="{{ .Site.BaseURL }}images/product/api/api3.svg"
                             alt="">
                    </div>
                </div>
                <div class="tab-pane clearfix active">

                    <div class="col-xs-12 col-sm-8 col-sm-offset-1 box_4">
                        <h3>Customizable, it scales with your company</h3>
                        <p>We’re aware that your analytics needs change when your company grows but your analytics
                            services doesn’t grow with your company and in fact, that’s why we created Rakam. You can
                            enrich your data with your custom logic, create your own modules and build your own
                            solutions such as recommendation, fraud detection using the data collected via Rakam.</p>
                    </div>
                    <div class="hidden-xs col-sm-2">
                        <img src="{{ .Site.BaseURL }}images/product/api/api4.svg"
                             alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="row" style="text-align:center;margin-top:50px">
    <h2>How it works?</h2>
</div>
<section class="container-fluid" id="api_fastAndScalable">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">

                <div class="row">
                    <div style="text-align:center">
                        <h4 class="api-flow" data-target="postgresql">PostgreSQL (Community Edition)</h4>
                        <h4 style="margin-left:35px" class="api-flow active-api-flow" data-target="presto">Snowflake (Enterprise
                            Edition)</h4>
                    </div>
                    <img src="{{ .Site.BaseURL }}images/rakam_api_flow_postgresql.svg"
                         style="margin-top:30px;display:none"
                         id="postgresql"
                         class="api-flow-target"
                         alt="Prestodb big-data pipeline infrastructure (AWS S3, Kinesis, ELB, Dynamodb, EC2, AWS EKS)">
                    <img src="{{ .Site.BaseURL }}images/rakam_api_flow_presto.svg"
                         class="api-flow-target"
                         style="margin-top:30px;" alt="Postgresql analytics with partitioned tables" id="presto">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid" id="api_sql">
    <div class="container">
        <div class="row box sql">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h3>Collect data via SDKs</h3>
                <img src="{{ .Site.BaseURL }}images/product/api/code.svg"
                     style="margin-top:30px;box-shadow: 0px 0 8px #0000001f;" alt="">
            </div>
            <div class="col-xs-7 col-sm-7 col-md-offset-1 col-md-7 col-lg-7 cm-s-material">
                <h3>→ Run SQL</h3>

                <div style="margin-top:50px;">
                    <ol>
                        <li>
                            <div style="position: relative;">
                                <pre class=" CodeMirror-line "><span><span
                                        class="cm-keyword">SELECT</span> city,</span></pre>
                            </div>
                        </li>
                        <li>
                            <div style="position: relative;">
                                <pre class=" CodeMirror-line ">       avg(quantity) <span class="cm-keyword">AS</span> avg_quantity,</pre>
                            </div>
                        </li>
                        <li>
                            <div style="position: relative;">
                                <pre class=" CodeMirror-line ">       sum(price) <span class="cm-keyword">AS</span> basket_price </pre>
                            </div>
                        </li>
                        <li>
                            <div style="position: relative;">
                                <pre class=" CodeMirror-line "><span class="cm-keyword">FROM</span> transaction </pre>
                            </div>
                        </li>
                        <li>
                            <div style="position: relative;">
                                <pre class=" CodeMirror-line "><span class="cm-keyword">GROUP BY</span> city </pre>
                            </div>
                        </li>
                        <li>
                            <div style="position: relative;">
                                <pre class=" CodeMirror-line "><span class="cm-keyword">ORDER BY</span> basket_price DESC</pre>
                            </div>
                        </li>
                    </ol>
                    <div class="hide-mobile">
                        <a href="/demo">
                            <div class="demo">
                                Visit Demo
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container-fluid" id="customizable">
    <div class="container">
        <div class="row box">
            <div class="hidden-xs col-sm-5 vcenter" style="text-align: center;">
                <div class="row">
                    <img src="{{ .Site.BaseURL }}images/macbook3.png" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 vcenter" style="margin-left:30px">
                <div class="row">
                    <h3 class="col-lg-12" style="line-height: 1.33; margin-top: 57px;">One-click deployments</h3>
                    <p class="col-lg-11">You can install Rakam easily to our AWS account with our Cloudformation template,
                        Google Cloud via Kubernetes and Heroku via our one-click installer. It's also fairly easy to install on-premise using Kubernetes.</p>
                </div>
                <div class="row">
                    <h3 class="col-lg-12" style="line-height: 1.33; margin-top: 57px;">Horizontally scalable for big-data</h3>
                    <p class="col-lg-11">We have customers who process 50B+ events per month with Rakam, the system automatically scales itself so you don't need to worry about scalability problem.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<script>
  var makeActiveVisualization = function (idx) {
    $('#api_oneClick .uib-tab').removeClass('active')
    $('#api_oneClick .uib-tab:eq(' + idx + ')').addClass('active')
    $('#api_oneClick .tab-pane').removeClass('active')
    $('#api_oneClick .tab-pane:eq(' + idx + ')').addClass('active')
  }

  $('#api_oneClick .uib-tab').click(function (e) {
    makeActiveVisualization($(e.target).parent().index())
  })

  $('.api-flow').click(function (e) {
    var target = $(e.target).attr('data-target')
    $('.api-flow-target').hide()
    $('.api-flow').removeClass('active-api-flow')
    $(e.target).addClass('active-api-flow')
    $('#'+target).show()
  })
</script>

{{ partial "new-footer-product.html" . }}
