{{ partial "header.html" . }}

<section class="container-fluid" id="ui_header">
    <div class="container">
        {{ partial "new-header-product.html" . }}

        <div class="row box">
            <div class="col-xs-12 col-sm-5 col-lg-5" style="padding-top:140px">
                <h1>Rakam Intelligence</h1>
                <p>
                    Interactive Data & Analytics visualization engine for your customer event-data which enables you to
                    discover critical insights.
                </p>
                <a href="https://beta.rakam.io/register">Try It Free</a>
            </div>
            <div class="hidden-xs col-sm-7 col-lg-7">
                <img src="{{ .Site.BaseURL }}images/product/ui/rakam_ui_vector.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="container" id="ui_advanced">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
            <ul>
                <li>
                    <img src="{{ .Site.BaseURL }}images/bussines.svg" alt="">
                    <p>Enterprise-ready with SSO and on-premise support</p>
                </li>
                <li>
                    <img src="{{ .Site.BaseURL }}images/security.svg" alt="">
                    <p>Secure User Access and Management with teams and auditing</p>
                </li>
                <li>
                    <img src="{{ .Site.BaseURL }}images/visualization.svg" alt="">
                    <p>Advanced visualization techniques.</p>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7">
            <div class="row">
                <h2 class="col-lg-12" style="color:#646782;line-height:1.5em;margin:85px 0 35px">
                    The most powerful way to analyze your customer event-data
                </h2>
                <p class="col-lg-12">Rakam Intelligence is the frontend of your Rakam API, it connects your Rakam API
                    and visualize the data for you. It allows you to run event explorer, funnel, retention queries on
                    your event data-set collected via Rakam API and also allows you to create custom reports, dashboards
                    with advanced SQL editor and simple query builder interface.</p>
                <p class="col-lg-12">You can create your custom analytics service without writing any single code with
                    Rakam Intelligence. The developers and analytsts can create custom reports and dashboards and share
                    them with the teams in your company.</p>
                <p class="col-lg-12">We take security seriously. Rakam Intelligence doesn't actually have accesss to
                    your Rakam APIs, your browser executes the AJAX requests directly on your Rakam API. Rakam UI can
                    only store metadata of your reports, not your data.</p>
            </div>
        </div>
    </div>
</section>

{{ partial "product_features.html" . }}


<section class="container">
    <div class="row white-box" style="margin-top:50px;position:relative">
        <p class="col-md-9">Confused? Compare Rakam with Looker, Tableau and Periscope data. The best approach is to use the right tool for your use-case rather than choosing tools which is more popular than others.</p>
        <a class="col-md-3 demo" href="/comparison" style="padding-top:22px">See comparison</a>
    </div>
</section>

<section class="container-fluid" id="ui_recipes">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 box">
                <div class="row">
                    <h2 class="col-lg-12">
                        <a class="demo" href="/demo" style="padding-top:22px">See demo</a>
                    </h2>
                    <p class="col-lg-10">
                        It's quite easy to get started using Rakam, you don't need to learn any language, you basically
                        use our UI to map your data
                        and use our non-technical people friendly reporting features.
                    </p>
                </div>
            </div>

            <div class="hidden-xs col-sm-7 col-md-7 col-lg-7" style="text-align: right;">
                <div class="row">
                    <img src="{{ .Site.BaseURL }}images/product/ui/sample-dashboard.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "new-footer-product.html" . }}
