<div class="top-bar">
    <div class="center">
        <h4 style="color:#fff; margin-top:5px">Configuration Reference</h4>
        <!--<div class="pull-right">HEAD</div>-->
    </div>
</div>
<div class="center padding-10-vertical row">
    <div ng-repeat="module in modules" class="bd-callout bd-callout-info" id="{{module.className}}">
        <h5 class="dealing-with-specificity" style="float:left" ng-bind="module.name"></h5>

        <div class="condition" style="float:right; margin-top:-2px" ng-if="module.condition">
            <span ng-bind="module.condition.property" class="label label-default"></span>
            {{module.condition.expectedValue ? '=' : ''}}
            <span class="label label-default" ng-bind="module.condition.expectedValue"
                  ng-if="module.condition.expectedValue"></span>
            <i class="label label-default" ng-if="!module.condition.expectedValue">is set</i>
        </div>
        <div class="clearfix"></div>
        <div ng-bind="module.description"></div>
        <table class="table table-sm table-hover" style="margin:20px 0 0 0" ng-if="module.properties.length > 0">
            <thead>
            <th>property</th>
            <th>default value</th>
            <th>description</th>
            </thead>
            <tbody>
            <tr ng-repeat="config in module.properties">
                <td ng-bind="config.property"></td>
                <td ng-bind="config.defaultValue"></td>
                <td ng-bind="config.description" style="font-size:0.9em"></td>
            </tr>
            </tbody>
            <tbody>
        </table>
    </div>
</div>