{{ partial "header.html" . }}
<section class="container-fluid" id="api_header">
    <div class="container">
        {{ partial "new-header-product.html" . }}
        <div id="main_pricing" style="margin-top:25px" class="container-fluid">
            <div class="container">
                <div class="row box_header">
                    <h2>Rakam API</h2>
                    <p>Analytics infrastructure with one-click</p>
                </div>

                <div class="row box_content">
                    <div class="col-sm-6">
                        <h3>Open-source</h3>
                        <ul>
                            <li>* On-premise Rakam, full control over your data</li>
                            <li>* Postgresql data warehouse, suitable for up to 1B data points</li>
                            <li>* Event Mappers for data enrichment</li>
                            <li>* Website and Mobile SDKs</li>
                        </ul>
                        <a href="https://docs.rakam.io" class="home_more">Visit documentation</a>

                        <a href="https://github.com/rakam-io/rakam" class="home_btn">Visit Github</a>
                    </div>
                    <div class="col-sm-6">
                        <h3>Enterprise</h3>
                        <ul>
                            <li>* All the features of open-source version.</li>
                            <li>* One click installers to your cloud provider</li>
                            <li>* Scalable for +1B data points</li>
                            <li>* Premium support</li>
                            <li>* External data integration</li>
                            <li>* Optional managed Rakam cluster</li>
                        </ul>
                        <a class="home_btn" style="cursor:pointer" onclick="window.Intercom('showNewMessage', 'Hi there!')" class="home_more">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "new-footer-product.html" . }}
