{{ partial "header.html" . }}
<section class="container-fluid" id="api_header">
    <div class="container">
        {{ partial "new-header-product.html" . }}
        <div id="main_pricing" style="margin-top:25px" class="container-fluid">
            <div class="container">
                <div class="row box_header">
                    <h2>Rakam UI</h2>
                    <p>Analytics engine on top of your database</p>
                    <p style="font-size:15px;text-align:center;margin-top:15px;opacity:.8">Connect your database, map your data layout and </p>
                </div>

                <div class="row box_content">
                    <div class="col-sm-6">
                        <h3>Free</h3>
                        <ul>
                            <li>Ability </li>
                            <li>* Postgresql data warehouse, suitable for up to 1B data points</li>
                            <li>* Event Mappers for data enrichment</li>
                            <li>* Website and Mobile SDKs</li>
                        </ul>
                        <a href="https://docs.rakam.io" class="home_more">Visit documentation</a>

                        <a href="https://rakam.io/demo" class="home_btn">Visit Demo</a>
                    </div>
                    <div class="col-sm-6">
                        <h3>Business</h3>
                        <ul>
                            <li>* All the features of open-source version.</li>
                            <li>* One click installers to your cloud provider</li>
                            <li>* Scalable for +1B data points</li>
                            <li>* Premium support</li>
                            <li>* External data integration</li>
                            <li>* Optional managed Rakam cluster</li>
                        </ul>
                        <a class="home_btn" style="cursor:pointer" onclick="Intercom('showNewMessage', 'I would like to learn more about pricing. Thanks!')" class="home_more">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "new-footer-product.html" . }}
