{{ partial "header.html" . }}
<section class="container-fluid" id="api_header">
    <div class="container">
        {{ partial "new-header-product.html" . }}
        <div id="main_pricing" style="margin-top:25px" class="container-fluid">
            <div class="container">
                <div class="row box_header">
                    <h2>Rakam UI</h2>
                    <p>Analytics engine on top of your database</p>
                    <p style="font-size:15px;text-align:center;margin-top:15px;opacity:.8">Connect your database, map your data layout and </p>
                </div>

                <div class="row box_content">
                    <div class="col-sm-6">
                        <h3>Free </h3>
                        <ul>
                            <li>* Drill-down your data easily with Segmentation </li>
                            <li>* Behavioral analytics with Funnel & Retention </li>
                            <li>* Advanced SQL Editor for custom reports </li>
                            <li>* Add labels and categorize your data with Taxonomy</li>
                            <li>* Custom Dashboards </li>
                            <li style="font-style:italic">- Ability to use team features for 1 month </li>
                        </ul>
                        <a href="https://beta.rakam.io" class="home_btn hide-mobile">Sign-up free</a>
                    </div>
                    <div class="col-sm-6">
                        <h3>Business</h3>
                        <ul>
                            <li>* All the features of free version.</li>
                            <li>* Ability to create groups, add team members</li>
                            <li>* Lightning fast reports with incremental materialized views</li>
                            <li>* Auditing & row-level and table level access management</li>
                            <li>* Premium support</li>
                            <li>* Optional on-premise version</li>
                        </ul>
                        <a class="home_btn" style="cursor:pointer" onclick="window.hubspot.messages.EXPERIMENTAL_API.requestWidgetOpen();" class="home_more">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "new-footer-product.html" . }}
