.p0{
    padding:0px;
}
.pl-0{
    padding-left:0px;
}
.pr-0{
    padding-right:0px;
}
.p5{
    padding:5px !important;
}
.pl-5{
    padding-left:5px !important;
}
.pr-5{
    padding-right:5px !important;
}
.pt-5{
    padding-top:5px !important;
}
.pb-5{
    padding-bottom:5px !important;
}

.p10{
    padding:10px !important;
}
.pl-10{
    padding-left:10px !important;
}
.pr-10{
    padding-right:10px !important;
}
.pt-10{
    padding-top:10px !important;
}
.pb-10{
    padding-bottom:10px !important;
}


.p20{
    padding:20px !important;
}.pl-20{
    padding-left:20px !important;
}
.pr-20{
    padding-right:20px !important;
}
.pt-20{
    padding-top:20px !important;
}
.pb-20{
    padding-bottom:20px !important;
}


.p30{
    padding:30px !important;
}.pl-30{
    padding-left:30px !important;
}
.pr-30{
    padding-right:30px !important;
}
.pt-30{
    padding-top:30px !important;
}
.pb-30{
    padding-bottom:30px !important;
}


.p40{
    padding:40px;
}.pl-40 {
    padding-left:40px !important;
}
.pr-40{
    padding-right:40px !important;
}
.pt-40{
    padding-top:40px !important;
}
.pb-40{
    padding-bottom:40px !important;
}



.m10{
    margin:10px !important;
}
.ml-10{
    margin-left:10px !important;
}
.mr-10{
    margin-right:10px !important;
}
.mt-10{
    margin-top:10px !important;
}
.mb-10{
    margin-bottom:10px !important;
}


.lh-30{
    line-height:30px !important;
}

.lh-60{
    line-height:60px !important;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

// breakpoints
   
$S:     480px;   
$M:     600px;     
$L:     1000px;     

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

// super light grid system

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}