<div class="header row">
    <header class="cd-morph-dropdown">
        <a href="/" class="logo-mobile hidden-md hidden-lg">
            <img width="144" src="{{ .Site.BaseURL }}images/new-logo.svg"/>
        </a>
        <span>Website</span>


        <nav class="main-nav" style="margin-top: 7px;">
            <ul>
                <li class="has-dropdown" data-content="products">
                    <a href="#">Products</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3 hidden-xs hidden-sm">
        <a href="/" class="logo"><img width="144" src="{{ .Site.BaseURL }}images/new-logo.svg"/></a>
    </div>
</div>
