<div class="row white-box" style="margin-top:50px;position:relative">
    <!--<p>-->
        <!--If it's still not clear, you can either click the titles to see extensive comparison, <a href="/videos">watch our videos</a> or <a onclick="Intercom('showNewMessage', 'I would like to learn more about Rakam.')">get in touch with us.</a>-->
    <!--</p>-->
    <p class="col-md-9">
        It's quite easy to get started using Rakam, you don't need to learn any language, you basically use our UI to map your data
        and use our non-technical people friendly reporting features. <br>
        If you're already familiar with any other reporting software, please take a look at our comparison page.
    </p>
    <div class="col-md-3">
        <div> <a class="demo" href="/demo">See demo</a></div>

            <div style="margin-top:10px"><a class="demo" href="/comparison" style="padding-top:22px">See comparison</a></div>
    </div>

</div>