<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/hint.css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>

<script>
     !function () {
        var analytics = window.analytics = window.analytics || [];
        if (!analytics.initialize)if (analytics.invoked) window.console && console.error && console.error("Segment snippet included twice."); else {
            analytics.invoked = !0;
            analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "page", "once", "off", "on"];
            analytics.factory = function (t) {
                return function () {
                    var e = Array.prototype.slice.call(arguments);
                    e.unshift(t);
                    analytics.push(e);
                    return analytics
                }
            };
            for (var t = 0; t < analytics.methods.length; t++) {
                var e = analytics.methods[t];
                analytics[e] = analytics.factory(e)
            }
            analytics.load = function (t) {
                var e = document.createElement("script");
                e.type = "text/javascript";
                e.async = !0;
                e.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js";
                var n = document.getElementsByTagName("script")[0];
                n.parentNode.insertBefore(e, n)
            };
            analytics.SNIPPET_VERSION = "3.1.0";
            analytics.load("YnDQk2XvnnDdpLNxUxRlQZFnpXx678mc");
            analytics.page()
        }
    }();
    </script>
    <script type="text/javascript">
    (function(e,t){var r=e.rakam||{};var n=t.createElement("script");n.type="text/javascript";
        n.async=true;n.src="https://d2f7xo8n6nlhxf.cloudfront.net/rakam.min.js";
        n.onload=function(){e.rakam.runQueuedFunctions()};var a=t.getElementsByTagName("script")[0];
        a.parentNode.insertBefore(n,a);function s(e,t){e[t]=function(){this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
            return this}}var i=function(){this._q=[];return this};var o=["set","setOnce","increment","unset"];
        for(var c=0;c<o.length;c++){s(i.prototype,o[c])}r.User=i;r._q=[];var u=["init","logEvent","logInlinedEvent","setUserId","getUserId","getDeviceId","setSuperProperties","setOptOut","setVersionName","setDomain","setUserProperties","setDeviceId","onload","onEvent","getTimeOnPreviousPage","getTimeOnPage","startTimer","isReturningUser"];
        for(var m=0;m<u.length;m++){s(r,u[m])}e.rakam=r})(window,document);
    rakam.init("487kgl6guu101p5pbgr434plie9svuudkr4480ra5ls5upt5uuanh70hqdhl8337", null, {
        includeUtm: true,
        trackClicks: true,
        trackForms: true,
        includeReferrer: true
    }, function() {
        var e = document.documentElement, g = document.getElementsByTagName('body')[0],
                x = window.innerWidth || e.clientWidth || g.clientWidth,
                y = window.innerHeight|| e.clientHeight|| g.clientHeight;
        rakam.logEvent("pageview", {url: window.location.pathname, time_on_page: rakam.getTimeOnPreviousPage(), returning_session: rakam.isReturningUser(), color_depth: window.screen.colorDepth, viewport: x + ' × ' + y, title: document.title});
    });
    rakam.startTimer(true);
    rakam.setSuperProperties({platform: 'Web', _ip: true, _user_agent:true, _referrer:document.referrer, resolution: window.screen.width+" × "+window.screen.height}, true);
    </script>