<div class="white-box" style="margin-top:30px">
    <p style="margin-bottom:30px">
        Rakam is a self-service analytics tool that lets you understand your users. We help you manage all your
        company data in one place so that you can see the big picture easily and continuously.
    </p>


    <div style="margin:20px">
        <div class="row">
            <div class="clearfix col-md-6" style="height:130px;max-width:700px">
                <img style="height:120px;position:absolute;left:0"
                     src="/images/common/product_and_growth.svg">
                <p style="margin-left:120px;max-width:700px">Your <b>product managers</b> {{.Params.Roles.product_manager}}</p>
            </div>
            <div class="clearfix col-md-6" style="height:130px">
                <img style="height:150px;position:absolute;right:0;top:-45px"
                     src="/images/common/business.svg">
                <p style="margin-right:150px;max-width:700px">
                    Your <b>business people</b> {{.Params.Roles.business_people}}
                </p>
            </div>
        </div>


        <div class="row" style="margin-top:30px">
            <div class="clearfix col-md-6" style="height:130px">
                <img style="height:150px;position:absolute;left:-25px;top:-30px"
                     src="/images/common/developer.svg">
                <p style="margin-left:120px;max-width:700px">
                    Your <b>data engineers</b> {{.Params.Roles.data_engineers}}
                </p>
            </div>
            <div class="clearfix col-md-6" style="height:130px">
                <img style="height:120px;position:absolute;right:0;top:-20px"
                     src="/images/common/analyst.svg">
                <p style="margin-right:120px;max-width:700px">
                    Your <b>data analysts</b> {{.Params.Roles.data_analysts}}
                </p>
            </div>
        </div>
    </div>
</div>