<div class="header row">

    <header class="cd-morph-dropdown">

        <a href="/" class="logo-mobile hidden-md hidden-lg"><img width="144"
                                                                 src="{{ .Site.BaseURL }}images/new-logo.svg"/></a>
        <a href="#0" class="nav-trigger">Open Nav<span aria-hidden="true"></span></a>

        <nav class="main-nav" style="margin-top: 7px;">
            <ul>
                <li class="has-dropdown" data-content="products">
                    <a>Products</a>
                </li>

                <li class="has-dropdown" data-content="solutions">
                    <a href="/product/prebuilt">Solutions</a>
                </li>

                <li class="has-dropdown" data-content="developers">
                    <a>Developers</a>
                </li>

                <li class="has-dropdown" data-content="company">
                    <a>Company</a>
                </li>
                <li>
                    <a href="/pricing">Pricing</a>
                </li>
            </ul>
        </nav>

        <div class="morph-dropdown-wrapper">
            <div class="dropdown-list">
                <ul>
                    <li id="products" class="dropdown products menuSpecial">
                        <a class="label">Products</a>

                        <div class="content">
                            <div class="top-section clearfix">
                                <ul class="clearfix col-md-6">
                                    <li><a href="/product/ui">
                                        <h4 class="color-sand-wh hover-black">Rakam Intelligence</h4>
                                        <p> Create your custom analytics service with SQL using Rakam Intelligence</p></a>
                                    </li>
                                </ul>
                                <ul class="clearfix col-md-6">
                                    <li><a href="/product/api">
                                        <h4 class="color-soir-wh">Rakam API</h4>
                                        <p>Event Explorer, Funnel, Retention for analyzing event data-sets.</p></a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </li>
                    
                    <li id="developers" class="dropdown developers menuSpecial">
                        <a class="label">Developers</a>
                        <div class="content">
                            <div class="top-section clearfix">
                                <ul class="clearfix">
                                    <li><a href="http://docs.rakam.io" target="_blank">
                                        <h4>Documentation</h4>
                                        <p>Learn how to setup, use and customize Rakam.</p></a>
                                        </a>

                                    </li>
                                    <li><a href="/deploy">
                                        <h4>Deploy Rakam API</h4>
                                        <p>Learn how to deploy Rakam easily.</p></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li id="company" class="dropdown company menuSpecial">

                        <a class="label">Company</a>
                        <div class="content" style="width:250px">
                            <div class="top-section clearfix">
                                <ul class="clearfix">
                                    <li><a href="http://blog.rakam.io">
                                        <h4>Blog</h4>
                                        <p>Some tips, tutorials and product updates for you</p></a>
                                    </li>
                                    <li><a href="https://angel.co/rakamio/jobs">
                                        <h4>Careers</h4>
                                        <p>Interested in joining us?<br><br></bt></p></a></li>
                                </ul>


                            </div>
                        </div>
                    </li>

                    <li id="solutions" class="dropdown solutions menuSpecial">
                        <a class="label">Solutions</a>
                        <div class="content">
                            <div class="top-section clearfix">
                                <ul class="clearfix col-md-4">
                                    <li>
                                        <h4 class="color-sand-wh hover-black">Industries</h4>
                                        <ul class="subnav custom-list diamond">
                                            <li><a href="/industry/gaming">Gaming</a></li>
                                            <li><a href="/industry/e-commerce">E-commerce</a></li>
                                            <li><a href="/industry/gaming">Marketplace</a></li>
                                            <li><a href="/industry/gaming">Social Media</a></li>
                                            <li><a href="/industry/saas">SaaS</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="clearfix col-md-4">
                                    <li>
                                        <h4 class="color-sand-wh hover-black">Integration</h4>
                                        <ul class="subnav triangle custom-list">
                                            <li><a href="/integration/segment">Segment</a></li>
                                            <li><a href="/integration/snowplow">Snowplow</a></li>
                                            <li><a href="/integration/redshift">Redshift</a></li>
                                            <li><a href="/integration/presto">Presto</a></li>
                                            <li><a href="/integration/postgresql">PostgreSQL</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="clearfix col-md-4">
                                    <li>
                                        <h4 class="color-sand-wh hover-black">Role</h4>
                                        <ul class="subnav round custom-list">
                                            <li><a href="/role/product-manager">Product Manager</a></li>
                                            <li><a href="/role/data-analyst">Data Analyst</a></li>
                                            <li><a href="/role/marketing">Marketing</a></li>
                                            <li><a href="/role/business">Business</a></li>
                                            <li><a href="/role/data-engineer">Data engineer</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="menuSpecial">
                        <a href="#" class="label">Pricing</a>
                    </li>
                    
                </ul>

                <div class="bg-layer" aria-hidden="true"></div>
            </div>
        </div>

    </header>


    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3 hidden-xs hidden-sm">
        <a href="/" class="logo"><img width="144" src="{{ .Site.BaseURL }}images/new-logo.svg"/></a>
    </div>
    <div class=" col-md-7 col-lg-6 hidden-xs hidden-sm"></div>
    <div class=" col-md-3 col-lg-3 hidden-xs hidden-sm sign" style="margin-top: 8px;">
        <a href="https://beta.rakam.io/register" class="login">
            <button class="btn-md s-button-o">Register</button>
        </a>
        <a href="https://beta.rakam.io/login" class="login">
            <button class="btn-md s-button-o">Login →</button>
        </a>
    </div>
</div>

<script>
  function morphDropdown (element) {
    this.element = element
    this.mainNavigation = this.element.find('.main-nav')
    this.mainNavigationItems = this.mainNavigation.find('.has-dropdown')
    this.dropdownList = this.element.find('.dropdown-list')
    this.dropdownWrappers = this.dropdownList.find('.dropdown')
    this.dropdownItems = this.dropdownList.find('.content')
    this.dropdownBg = this.dropdownList.find('.bg-layer')
    this.mq = this.checkMq()
    this.bindEvents()
  }

  morphDropdown.prototype.checkMq = function () {
    //check screen size
    var self = this
    return window.getComputedStyle(self.element.get(0), '::before').getPropertyValue('content').replace(/'/g, '').replace(/"/g, '').split(', ')
  }

  morphDropdown.prototype.bindEvents = function () {
    var self = this
    //hover over an item in the main navigation
    this.mainNavigationItems.mouseenter(function (event) {
      //hover over one of the nav items -> show dropdown
      self.showDropdown($(this))
    }).mouseleave(function () {
      setTimeout(function () {
        //if not hovering over a nav item or a dropdown -> hide dropdown
        if (self.mainNavigation.find('.has-dropdown:hover').length == 0 && self.element.find('.dropdown-list:hover').length == 0) {
          self.hideDropdown()
        }
      }, 50)
    })

    //hover over the dropdown
    this.dropdownList.mouseleave(function () {
      setTimeout(function () {
        //if not hovering over a dropdown or a nav item -> hide dropdown
        (self.mainNavigation.find('.has-dropdown:hover').length == 0 && self.element.find('.dropdown-list:hover').length == 0) && self.hideDropdown()
      }, 50)
    })

    //click on an item in the main navigation -> open a dropdown on a touch device
    this.mainNavigationItems.on('touchstart', function (event) {
      var selectedDropdown = self.dropdownList.find('#' + $(this).data('content'))
      if (!self.element.hasClass('is-dropdown-visible') || !selectedDropdown.hasClass('active')) {
        event.preventDefault()
        self.showDropdown($(this))
      }
    })

    //on small screens, open navigation clicking on the menu icon
    this.element.on('click', '.nav-trigger', function (event) {
      event.preventDefault()
      self.element.toggleClass('nav-open')
    })
  }

  morphDropdown.prototype.showDropdown = function (item) {
    this.mq = this.checkMq()
    if (this.mq == 'desktop') {
      var self = this
      var selectedDropdown = this.dropdownList.find('#' + item.data('content')),
        selectedDropdownHeight = selectedDropdown.innerHeight(),
        selectedDropdownWidth = selectedDropdown.children('.content').innerWidth(),
        selectedDropdownLeft = item.offset().left + item.innerWidth() / 2 - selectedDropdownWidth / 2

      //update dropdown position and size
      this.updateDropdown(selectedDropdown, parseInt(selectedDropdownHeight), selectedDropdownWidth, parseInt(selectedDropdownLeft))
      //add active class to the proper dropdown item
      this.element.find('.active').removeClass('active')
      selectedDropdown.addClass('active').removeClass('move-left move-right').prevAll().addClass('move-left').end().nextAll().addClass('move-right')
      item.addClass('active')
      //show the dropdown wrapper if not visible yet
      if (!this.element.hasClass('is-dropdown-visible')) {
        setTimeout(function () {
          self.element.addClass('is-dropdown-visible')
        }, 10)
      }
    }
  }

  morphDropdown.prototype.updateDropdown = function (dropdownItem, height, width, left) {
    this.dropdownList.css({
      '-moz-transform': 'translateX(' + left + 'px)',
      '-webkit-transform': 'translateX(' + left + 'px)',
      '-ms-transform': 'translateX(' + left + 'px)',
      '-o-transform': 'translateX(' + left + 'px)',
      'transform': 'translateX(' + left + 'px)',
      'width': width + 'px',
      'height': height + 'px'
    })

    this.dropdownBg.css({
      '-moz-transform': 'scaleX(' + width + ') scaleY(' + height + ')',
      '-webkit-transform': 'scaleX(' + width + ') scaleY(' + height + ')',
      '-ms-transform': 'scaleX(' + width + ') scaleY(' + height + ')',
      '-o-transform': 'scaleX(' + width + ') scaleY(' + height + ')',
      'transform': 'scaleX(' + width + ') scaleY(' + height + ')'
    })
  }

  morphDropdown.prototype.hideDropdown = function () {
    this.mq = this.checkMq()
    if (this.mq == 'desktop') {
      this.element.removeClass('is-dropdown-visible').find('.active').removeClass('active').end().find('.move-left').removeClass('move-left').end().find('.move-right').removeClass('move-right')
    }
  }

  morphDropdown.prototype.resetDropdown = function () {
    this.mq = this.checkMq()
    if (this.mq == 'mobile') {
      this.dropdownList.removeAttr('style')
    }
  }

  var morphDropdowns = []
  if ($('.cd-morph-dropdown').length > 0) {
    $('.cd-morph-dropdown').each(function () {
      //create a morphDropdown object for each .cd-morph-dropdown
      morphDropdowns.push(new morphDropdown($(this)))
    })

    var resizing = false

    //on resize, reset dropdown style property
    updateDropdownPosition()
    $(window).on('resize', function () {
      if (!resizing) {
        resizing = true;
        (!window.requestAnimationFrame) ? setTimeout(updateDropdownPosition, 300) : window.requestAnimationFrame(updateDropdownPosition)
      }
    })

    function updateDropdownPosition () {
      morphDropdowns.forEach(function (element) {
        element.resetDropdown()
      })

      resizing = false
    }
  }
</script>