<div class="container">
    <div class="row box_header">
        <h2>Rakam API</h2>
        <p>Analytics infrastructure with one-click</p>
    </div>

    <div class="row box_content">
        <div class="col-sm-6">
            <h3>Open-source</h3>
            <ul>
                <li>* On-premise Rakam, full control over your data</li>
                <li>* Postgresql data warehouse, suitable for up to 1B data points</li>
                <li>* Event Mappers for data enrichment</li>
                <li>* Website and Mobile SDKs</li>
            </ul>
            <a href="" class="home_more">Learn More</a>
            <a href="http://beta.rakam.io/register" class="home_btn">Get started</a>
        </div>
        <div class="col-sm-6">
            <h3>Premium</h3>
            <ul>
                <li>* All the features of open-source version.</li>
                <li>* One click installers to your cloud provider</li>
                <li>* Scalable for +1B data points</li>
                <li>* Premium support</li>
                <li>* External data integration</li>
                <li>* Optional managed Rakam cluster</li>
            </ul>
            <a href="#" onclick="Intercom('showNewMessage', 'I would like to learn more about pricing. Thanks!')" class="home_more">Learn More</a>
        </div>
    </div>
</div>